@model Entities.ViewModel.ProductIndexPageViewModel

<!-- product-item start -->
<div class="col-md-3 col-sm-4 col-xs-12">
    <div class="product-item product-item-2">
        <div class="product-img">
            <a asp-page="Product" asp-route-productUrl="@Model.Url.Trim()">
                <img src="~/@Model.ImagePath" alt="@Model.Alt">
            </a>
        </div>
        <div class="product-info">
            <h6 class="product-title">
                <a asp-page="Product" asp-route-productUrl="@Model.Url.Trim()">@Model.Name</a>
            </h6>
            <h6 class="brand-name">@Model.Brand</h6>
            @{
                decimal? discount = 0;
                decimal? discountAmount = 0;
                decimal? amount = 0;
                var price = Model.Prices.OrderBy(o => o.Amount).FirstOrDefault(x => x.Exist>0);
                if (price != null)
                {

                    if (price.Discount != null)
                        if (price.Discount.Amount > 0)
                        {
                            discount = (decimal) price.Discount.Amount;
                        }
                        else if (price.Discount.Percent > 0)
                        {
                            discount = price.Amount * (decimal) price.Discount.Percent / 100;
                        }
                    discountAmount = price.Amount - discount;
                    amount = price.Amount;
                }
            }
            <div class="s-price-box">
                @if (price == null)
                {
                    <h3 class="pro-price">نا موجود</h3>
                }
                else
                {
                    if (discount > 0)
                    {
                        <h3 class="old-price">@amount?.ToString("###,###,###,###") تومان</h3>
                    }
                    <h3 class="pro-price">@discountAmount?.ToString("###,###,###,###") تومان</h3>
                }
            </div>
        </div>
        <ul class="action-button">
            <li>
                <a href="javascript:void(0)" onclick="AddWishList(@Model.Id)" title="افزودن به لیست علاقه مندی ها ">
                    <i class="zmdi zmdi-favorite"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="OpenProductModal(@Model.Id)" title="نمایش سریع">
                    <i class="zmdi zmdi-zoom-in"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="AddCompareList(@Model.Id)" title="مقایسه">
                    <i class="zmdi zmdi-refresh"></i>
                </a>
            </li>
          @*  <li>
                <a href="javascript:void(0)" onclick="AddCart(@Model.Id,@Model.Prices.First().Id,1)" title="اضافه کردن به سبد خرید">
                    <i class="zmdi zmdi-shopping-cart-plus"></i>
                </a>
            </li>*@
        </ul>
    </div>
</div>
<!-- product-item end -->