@model Entities.ViewModel.ProductIndexPageViewModel

<!-- product-item start -->
<div class="col-md-3 col-sm-4 col-xs-12">
    <div class="product-item product-item-2">
        <div class="product-img">
            <a asp-page="Product" asp-route-productUrl="@Model.Url.Trim()">
                <img src="~/@Model.ImagePath" alt="@Model.Alt">
            </a>
        </div>
        <div class="product-info">
            <h6 class="product-title">
                <a asp-page="Product" asp-route-productUrl="@Model.Url.Trim()">@Model.Name</a>
            </h6>
            <h6 class="brand-name">@Model.Brand</h6>
            @{
                decimal? discount = 0;
                if (Model.Prices.First().Discount != null)
                    if (Model.Prices.First().Discount.Amount > 0)
                    {
                        discount = (decimal)Model.Prices.First().Discount.Amount;
                    }
                    else if (Model.Prices.First().Discount.Percent > 0)
                    {
                        discount = Model.Prices.First().Amount * (decimal)Model.Prices.First().Discount.Percent / 100;
                    }
                decimal? amount = Model.Prices.First().Amount - discount;
            }
            @if (discount > 0)
            {
                <h3 class="old-price">@(amount + discount)?.ToString("###,###,###,###") تومان</h3>
            }
            <h3 class="pro-price">@amount?.ToString("###,###,###,###") تومان</h3>
        </div>
        <ul class="action-button">
            <li>
                <a href="javascript:void(0)" onclick="AddWishList(@Model.Id)" title="افزودن به لیست علاقه مندی ها ">
                    <i class="zmdi zmdi-favorite"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="OpenProductModal(@Model.Id)" title="نمایش سریع">
                    <i class="zmdi zmdi-zoom-in"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="AddCompareList(@Model.Id)" title="مقایسه">
                    <i class="zmdi zmdi-refresh"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="AddCart(@Model.Id,@Model.Prices.First().Id,1)" title="اضافه کردن به سبد خرید">
                    <i class="zmdi zmdi-shopping-cart-plus"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- product-item end -->