@page
@model ArshaHamrah.Areas.Admin.Pages.PaymentMethods.DetailModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2 ">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        جزئیات روش های پرداخت
                    </h3>
                </div>
                <!--begin::Form-->
                <form class="form" method="post" asp-page-handler="OnPost">
                    <div class="card-body">
                        <div class="form-group">
                            <label>شماره حساب:</label>
                            <label class="form-control form-control-solid">@Model.PaymentMethod.AccountNumber</label>
                        </div>
                        <div class="form-group">
                            <label>نام بانک:</label>
                            <label class="form-control form-control-solid">@Model.PaymentMethod.BankName</label>
                        </div>
                        <div class="form-group">
                            <label>نام شعبه:</label>
                            <label class="form-control form-control-solid">@Model.PaymentMethod.BrunchName</label>
                        </div>
                        <div class="form-group">
                            <label>کد بانک:</label>
                            <label class="form-control form-control-solid">@Model.PaymentMethod.BankCode</label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary mr-2" asp-Page="/PaymentMethods/edit" asp-area="Admin" asp-route-id="@Model.PaymentMethod.Id">ویرایش</a>
                        <a class="btn btn-secondary" asp-Page="/PaymentMethods/index" asp-area="Admin">لغو</a>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>