@page "/Admin/DeleteUnit"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ECommerce.Front.BolouriGroup.Areas.Admin.Pages.Units.DeleteModel
@{
}
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2 ">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        حذف واحد
                    </h3>
                </div>
                <!--begin::Form-->
                <form class="form" method="post" asp-page-handler="OnPost">
                    <input hidden="hidden" name="id" asp-for="@Model.Unit.Id"/>
                    <div class="card-body">
                        <div class="form-group">
                            <label>نام</label>
                            <label class="form-control form-control-solid">@Model.Unit.Name</label>
                        </div>
                        <div class="form-group">
                            <label>تعداد در واحد:</label>
                            <label class="form-control form-control-solid">@Model.Unit.Few</label>
                        </div>
                        <div class="form-group">
                            <label>عیار:</label>
                            <label class="form-control form-control-solid">@Model.Unit.assay</label>
                        </div>
                        <div class="form-group">
                            <label>وزن واحد:</label>
                            <label class="form-control form-control-solid">@Model.Unit.UnitWeight</label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary mr-2">حذف</button>
                        <a class="btn btn-secondary" asp-Page="/Units/index" asp-area="Admin">لغو</a>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>