@page "/Admin/PricesDiscount"

@model ECommerce.Front.BolouriGroup.Areas.Admin.Pages.Discounts.PriceModel
@using Ecommerce.Entities.Helper
@using Ecommerce.Entities
@{
}

<!--begin::نمونه-->
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
    Model.Code = null;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2 ">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        ایجاد تخفیف محصول
                    </h3>
                </div>
                @Html.ValidationSummary()
                <!--begin::Form-->
                <form class="form" method="post" asp-page-handler="OnPost">
                    <div class="card-body">
                        <div class="form-group">
                            <label>نام</label>
                            <input asp-for="Discount.Name" class="form-control form-control-solid" />
                            <span asp-validation-for="Discount.Name" class="mt-5"
                                style="color: red; margin-top: 10px"></span>
                        </div>
                        <div id="choose-either-container">
                            <div id="choose-either">
                                @Html.RadioButtonFor(m => m.WithPrice, "false", new { id = "percent" })
                                <label for="percent">درصد</label>
                                @Html.RadioButtonFor(m => m.WithPrice, "true", new { id = "price" })
                                <label for="price">مبلغ</label>
                            </div>
                        </div>
                        <div id="choose-false" style="@(Model.WithPrice ? "display: none;" : "")"
                            class="form-group ch-ei">
                            <label>درصد</label>
                            <input asp-for="Discount.Percent" id="kt_touchspin_4" type="number"
                                class="form-control bootstrap-touchspin-vertical-btn form-control-solid"
                                placeholder="0" />
                        </div>
                        <div id="choose-true" style="@(!Model.WithPrice ? "display: none;" : "")"
                            class="form-group ch-ei">
                            <label>مبلغ</label>
                            <input asp-for="Discount.Amount" min="0" type="number"
                                class="form-control bootstrap-touchspin-vertical-btn form-control-solid"
                                placeholder="0" />
                        </div>
                        <div class="form-group">
                            <label>تاریخ شروع</label>
                            <input id="startDate" name="Discount.StartDate" hidden="hidden" />
                            <input class="form-control form-control-solid" id="startDatepicker"
                                placeholder="تاریخ شروع" />
                        </div>
                        <div class="form-group">
                            <label>تاریخ پایان</label>
                            <input id="endDate" name="Discount.EndDate" hidden="hidden" />
                            <input class="form-control form-control-solid" id="endDatepicker"
                                placeholder="تاریخ پایان" />
                        </div>
                        <div class="checkbox-inline">
                            <label class="checkbox checkbox-outline checkbox-success">
                                <input asp-for="Discount.IsActive" type="checkbox" checked="checked" />
                                <span></span>
                                فعال
                            </label>
                        </div>
                        <div class="form-group mt-4">
                            <label>کد تخفیف</label>
                            <input asp-for="Discount.Code" class="form-control form-control-solid" />
                            <span asp-validation-for="Discount.Code" class="mt-5"
                                style="color: red; margin-top: 10px"></span>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#ModalSelectArticle">انتخاب کالا</button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary mr-2">ثبت</button>
                        <a class="btn btn-secondary" asp-Page="/Discounts/index" asp-area="Admin">لغو</a>
                    </div>
                    <br />
                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">لیست کالا ها</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="example mb-10">
                                <div class="prices-preview">
                                    <table id="myTable" class="table table-bordered mb-6">
                                        <tr>
                                            <th scope="col">#</th>
                                            <td scope="col">نام کالا</td>
                                            <td scope="col">قیمت</td>
                                            <td scope="col">رنگ</td>
                                            <td style="visibility: hidden" scope="col">عملیات</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->

            </div>
        </div>
    </div>
</div>
<br />
<br />


<!-- Modal Select Article-->
<div class="modal fade" id="ModalSelectArticle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">انتخاب کالا</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ModalSelectArticleBodyId">
                <div class="form-group">
                    <label>انتخاب دسته</label>
                    <partial name="_categoriesMenu" model="Model.CategoryParentViewModel" />
                </div>
                <select id="sProductId" class="col-md-12 js-example-basic-single  form-control">
                </select>
                <select id="articleId" class="col-md-12 js-example-basic-single  form-control">
                </select>
                <br />
                <div id="articleDescriptionId"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="selectArticleId" class="btn btn-primary">انتخاب کالا</button>
            </div>
        </div>
    </div>
</div>

<style>
    ul,
    #myUL {
        list-style-type: none;
    }

    #myUL {
        margin: 0;
        padding: 0;
    }

    .caret {
        cursor: pointer;
        -webkit-user-select: none;
        /* Safari 3.1+ */
        -moz-user-select: none;
        /* Firefox 2+ */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
    }

    .caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

    .caret-down::before {
        -ms-transform: rotate(90deg);
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        /* Safari */
        '
 transform: rotate(90deg);
    }

    .nested {
        display: none;
    }

    .active {
        display: block;
    }
</style>

@section Scripts
    {
    <script src="~/Admin/js/bootstrap-touchspin.js"></script>
    <script src="~/Admin/js/persianDatepicker.min.js"></script>

    <script type="text/javascript">
        var toggler = document.getElementsByClassName("caret");
        var selectableEl = document.getElementsByClassName("selectableoption");
        var i;
        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function () {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }

        for (i = 0; i < selectableEl.length; i++) {
            selectableEl[i].addEventListener("click", function () {
                var CategoryId = this.value;
                $("#sProductId").empty();
                $("#articleDescriptionId").empty();
                $("#articleId").empty();
                $("#sProductId").append("<option value=''>انتخاب کالا اصلی</option>");
                $.getJSON(`?handler=ReturnProductByCategoryId&CategoryId=${CategoryId}`,
                    (data) => {
                        $.each(data,
                            function (i, item) {
                                $("#sProductId").append(`<option value="${item.id}">${item.name}</option>`);
                            });
                    });
            });
        }

        var prices = new Array();
        var price = new Object();
        $('#sProductId').on("change",
            function () {
                $("#articleDescriptionId").empty();
                var code = $('#sProductId').val();
                $("#articleId").empty();
                $("#articleId").append("<option value=''>انتخاب کالا</option>");
                $.getJSON(`?handler=ReturnArticle&code=${code}`,
                    (data) => {
                        prices = data;
                        $.each(data,
                            function (i, item) {
                                $("#articleId").append(`<option value="${item.id}">${item.color.name} ${item.amount}</option>`);
                            });
                    });
            });

        $('#articleId').on('change',
            function (e) {
                var valueSelected = this.value;
                price = prices.find(obj => {
                    return obj.id == valueSelected;
                });
                $("#articleDescriptionId").html(
                    "<p>" +
                    "کد کالا : " +
                    price.id +
                    "</p>" +
                    "<p>" +
                    "نام : " +
                    price.product.name +
                    "</p>" +
                    "<p>" +
                    "رنگ : " +
                    price.color.name +
                    "<div style='background-color: " + price.color.colorCode + "'> - </div>" +
                    "</p>" +
                    "<p>" +
                    "مبلغ : " +
                    price.amount +
                    "</p>"
                );
            });

        $("#selectArticleId").on("click",
            function () {
                var table = document.getElementById("myTable");
                var isDuplicate = false;
                for (var i = 1; i < table.rows.length; i++) {
                    if (table.rows[i].cells[0].innerHTML == price.id) {
                        isDuplicate = true;
                        break;
                    }
                }
                if (!isDuplicate && price.id != null) {
                    var row = table.insertRow(-1);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    var cell6 = row.insertCell(5);
                    cell1.innerHTML = price.id;
                    cell2.innerHTML = price.product.name;
                    cell3.innerHTML = price.amount;
                    cell4.innerHTML = price.color.name;
                    var button = document.createElement("button");
                    button.innerHTML = "حذف";
                    button.addEventListener("click", function (event) {
                        var deletedIndex = this.parentNode.parentNode.rowIndex;
                        table.deleteRow(deletedIndex);
                    });
                    cell5.appendChild(button);
                    cell6.innerHTML = `<input style='visibility: hidden' name='Discount.PricesId' value="${price.id}"></input>`;
                    var ids = [];
                    for (var i = 1; i < table.rows.length; i++) {
                        ids.push(table.rows[i].cells[0].innerHTML);
                    }
                }
            });
        @{
            string sd = "";
            string ed = "";
            if (Model.Discount != null)
            {
                if (Model.Discount.StartDate.HasValue)
                    sd = Model.Discount.StartDate.Value.GetDateTimeFormats()[1];
                if (Model.Discount.EndDate.HasValue)
                    ed = Model.Discount.EndDate.Value.GetDateTimeFormats()[1];
            }
        }
            $(() => {
                const startDate = "@sd" === "" ? undefined : new Date("@sd");
                const endDate = "@ed" === "" ? undefined : new Date("@ed");
                const options = {
                    year: "numeric",
                    month: "numeric",
                    day: "numeric",
                }

                if (startDate) {
                    $("#startDatepicker").val(startDate.toLocaleDateString('fa-IR', options));
                    $("#startDatepicker").attr("data-gdate", "@sd")
                    $("#startDatepicker").attr("data-jdate", startDate.toLocaleDateString('fa-IR', { ...options, numberingSystem: "latn" }))
                    $("#startDate").val("@sd")
                }

                if (endDate) {
                    $("#endDatepicker").val(endDate.toLocaleDateString('fa-IR', options));
                    $("#endDatepicker").attr("data-gdate", "@ed")
                    $("#endDatepicker").attr("data-jdate", endDate.toLocaleDateString('fa-IR', { ...options, numberingSystem: "latn" }))
                    $("#endDate").val("@ed")
                }

                $('#startDatepicker').persianDatepicker({
                    theme: 'latoja',
                    fontSize: 15,
                    formatDate: "YYYY/MM/DD",
                    onSelect: function () {
                        $("#startDate").val($("#startDatepicker").attr("data-gdate"));
                    },
                    selectedDate: !startDate ? undefined : startDate.toLocaleDateString('fa-IR', { ...options, numberingSystem: "latn" }),
                    startDate: "today",
                    endDate: "1500/1/1"
                });
                $('#endDatepicker').persianDatepicker({
                    theme: 'latoja',
                    fontSize: 15,
                    formatDate: "YYYY/MM/DD",
                    onSelect: function () {
                        $("#endDate").val($("#endDatepicker").attr("data-gdate"));
                    },
                    selectedDate: !endDate ? undefined : endDate.toLocaleDateString('fa-IR', { ...options, numberingSystem: "latn" }),
                    startDate: "today",
                    endDate: "1500/1/1"
                });

                $("#choose-either input[name$='WithPrice']").on("click", function () {
                    let n = $(this).val();
                    $("div.ch-ei").hide();
                    $(`div#choose-${n}`).show();
                })
            });

    </script>
}