@page "{handler?}"
@model IndexModel

@{
    ViewData["Title"] = "خانه";
}
<!-- START SLIDER AREA -->
<div class="slider-area slider-2">
    <div class="bend niceties preview-2">
        <div id="nivoslider-2" class="slides">
            <img src="~/img/slider/slider-2/slider-1.jpg" alt="" title="#slider-direction-1">
            <img src="~/img/slider/slider-2/slider-1.jpg" alt="" title="#slider-direction-2">
            <img src="~/img/slider/slider-2/slider-1.jpg" alt="" title="#slider-direction-3">
            <img src="~/img/slider/slider-2/slider-1.jpg" alt="" title="#slider-direction-4">
            <img src="~/img/slider/slider-2/slider-1.jpg" alt="" title="#slider-direction-5">
        </div>
        <!-- ===== direction ===== -->
        @{
            var i = 1;
        }
        @if (Model.SlideShowViewModels != null)
        {
            @foreach (var slide in Model.SlideShowViewModels)
            {
                var id = $"slider-direction-{i}";
                var classStr = $"slider-content-{(i % 2 == 1 ? "1" : "2")}";
                var imageClass = i % 2 == 0 ? "layer-2-1" : "";
                i++;


                <div id="@id" class="slider-direction">
                    <div class="@classStr">
                        <div class="title-container">
                            <div class="wow rotateInDownLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                                <h6 class="slider2-title-1">بهترین قیمت : @slide.Price?.ToString("N2") تومان</h6>
                            </div>
                            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                <h1 class="slider2-title-2">@slide.Title</h1>
                            </div>
                            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                                <h2 class="slider2-title-3">@slide.Name</h2>
                            </div>
                            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                                <div class="slider2-title-4">@Html.Raw(slide.Description)</div>
                            </div>
                            <div class="slider-button wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.5s">
                                <a asp-page="Product" asp-route-productId="@slide.Url" class="button extra-small button-black">
                                    <span>هم اکنون بخرید</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- layer 1 -->
                    <div class="slider-content-1-image">
                        <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div class="layer-1-1 @imageClass">
                                <img src=@slide.ImagePath alt="@slide.Name">
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <!-- ==== -->
    </div>
</div>
<!-- END SLIDER AREA -->
<section id="page-content" class="page-wrapper">

<!-- BANNER-SECTION START -->
    @if (Model.ExpensiveProducts.Count > 0)
    {
        <div class="banner-section ptb-60">
            <div class="container">
                <div class="row">
                    <!-- banner-item start -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="banner-item banner-2">
                            <div class="banner-img">
                                <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[0].Url">
                                    <img style="float: right" src="@Model.ExpensiveProducts[0].ImagePath" alt="@Model.ExpensiveProducts[0].Alt"/>
                                </a>
                            </div>
                            <h3 class="banner-title-2 vmsNowrap">
                                <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[0].Url">@Model.ExpensiveProducts[0].Name</a>
                            </h3>
                            <h3 class="pro-price">@Model.ExpensiveProducts[0].Prices.First().Amount.ToString("N0") تومان</h3>
                            <div class="banner-button">
                                <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[0].Url">هم اکنون بخرید <i class="zmdi zmdi-long-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- banner-item end -->
                    <!-- banner-item start -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
	                    <div class="banner-item banner-2">
		                    <div class="banner-img">
			                    <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[1].Url">
				                    <img style="float: right" src="@Model.ExpensiveProducts[0].ImagePath" alt="@Model.ExpensiveProducts[1].Alt"/>
			                    </a>
		                    </div>
		                    <h3 class="banner-title-2 vmsNowrap">
			                    <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[1].Url">@Model.ExpensiveProducts[1].Name</a>
		                    </h3>
		                    <h3 class="pro-price">@Model.ExpensiveProducts[1].Prices.First().Amount.ToString("N0") تومان</h3>
		                    <div class="banner-button">
			                    <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[1].Url">هم اکنون بخرید <i class="zmdi zmdi-long-arrow-left"></i></a>
		                    </div>
	                    </div>
                    </div>
                    <!-- banner-item end -->
                    <!-- banner-item start -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
	                    <div class="banner-item banner-2">
		                    <div class="banner-img">
			                    <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[2].Url">
				                    <img style="float: right" src="@Model.ExpensiveProducts[2].ImagePath" alt="@Model.ExpensiveProducts[2].Alt"/>
			                    </a>
		                    </div>
		                    <h3 class="banner-title-2 vmsNowrap">
			                    <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[2].Url">@Model.ExpensiveProducts[2].Name</a>
		                    </h3>
		                    <h3 class="pro-price">@Model.ExpensiveProducts[2].Prices.First().Amount.ToString("N0") تومان</h3>
		                    <div class="banner-button">
			                    <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[2].Url">هم اکنون بخرید <i class="zmdi zmdi-long-arrow-left"></i></a>
		                    </div>
	                    </div>
                    </div>
                    <!-- banner-item end -->
                    <!-- banner-item start -->
           @*         <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="banner-item banner-3">
                            <div class="banner-img">
                                <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[1].Url">
                                    <img src="@Model.ExpensiveProducts[1].ImagePath" alt="@Model.ExpensiveProducts[1].Alt">
                                </a>
                            </div>
                            <div class="banner-info">
                                <h3 class="banner-title-2 vmsNowrap">
                                    <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[1].Url">@Model.ExpensiveProducts[1].Name</a>
                                </h3>
                                <ul class="banner-featured-list vmsNowrapList">
                                    @Html.Raw(Model.ExpensiveProducts[1].Brand)
                                </ul>
                                <div class="banner-button">
                                    <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[1].Url">مشاهده <i class="zmdi zmdi-long-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- banner-item end -->
                    <!-- banner-item start -->
                    <div class="col-md-4 hidden-sm col-xs-12">
                        <div class="banner-item banner-4">
                            <div class="banner-img">
                                <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[1].Url">
                                    <img src="@Model.ExpensiveProducts[1].ImagePath" alt="@Model.ExpensiveProducts[1].Alt">
                                </a>
                            </div>
                            <h3 class="banner-title-2 vmsNowrap">
                                <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[1].Url">@Model.ExpensiveProducts[1].Name</a>
                            </h3>
                            <div class="banner-button">
                                <a asp-page="Product" asp-route-productId="@Model.ExpensiveProducts[1].Url">هم اکنون بخرید <i class="zmdi zmdi-long-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>*@
                    <!-- banner-item end -->
                </div>
            </div>
        </div>
    }
    <!-- BANNER-SECTION END -->
<!-- FEATURED PRODUCT SECTION START -->
<div class="featured-product-section section-bg-tb pt-80 pb-55">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-left mb-20">
                    <h2>کالای جدید</h2>
                    <h6>کالای جدید اضافه شده به فروشگاه ما</h6>
                    <a asp-page="Compare" class="btn-default">مقایسه</a>
                </div>
            </div>
        </div>
        <div class="featured-product">
            <div class="row active-featured-product slick-arrow-2">
                @foreach (var newProduct in Model.NewProducts)
                {
	                <partial name="Components/_productCard" model="newProduct"/>
                }
            </div>
        </div>
    </div>
</div>
<!-- FEATURED PRODUCT SECTION END -->
<!-- UP COMMING PRODUCT SECTION START -->
<div class="up-comming-product-section ptb-60">
    <div class="container">
        <div class="row">
            <!-- up-comming-pro -->
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="up-comming-pro gray-bg up-comming-pro-2 clearfix">
                    <div class="up-comming-pro-img f-left">
                        <a href="#">
                            <img src="~/img/up-comming/2.jpg" alt="">
                        </a>
                    </div>
                    <div class="up-comming-pro-info f-left">
                        <h3>
                            <a href="#">نام محصول نمایشی</a>
                        </h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                        <div class="up-comming-time-2 clearfix">
                            <div data-countdown="2022/06/15"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
                <div class="banner-item banner-1">
                    <div class="ribbon-price">
                        <span>896,000 تومان</span>
                    </div>
                    <div class="banner-img">
                        <a href="#">
                            <img src="~/img/banner/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="banner-info">
                        <h3>
                            <a href="#">نام محصول</a>
                        </h3>
                        <ul class="banner-featured-list">
                            <li>
                                <i class="zmdi zmdi-check"></i><span>لورم ایپسوم متن</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check"></i><span>لورم ایپسوم متن</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check"></i><span>لورم ایپسوم متن</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check"></i><span>لورم ایپسوم متن</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check"></i><span>لورم ایپسوم متن</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- UP COMMING PRODUCT SECTION END -->
<!-- PRODUCT TAB SECTION START -->
<div class="product-tab-section section-bg-tb pt-80 pb-55">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="section-title text-left mb-40">
                    <h2>لیست محصولات</h2>
                    <h6>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و</h6>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="pro-tab-menu pro-tab-menu-2 text-right">
                    <!-- Nav tabs -->
                    <ul class="">
                        <li class="active">
                            <a href="#popular-product" data-toggle="tab">محصولات محبوب </a>
                        </li>
                        <li>
                            <a href="#new-arrival" data-toggle="tab">کالای جدید</a>
                        </li>
                        <li>
                            <a href="#best-seller" data-toggle="tab">پرفروشترین ها</a>
                        </li>
                        @*<li><a href="#special-offer" data-toggle="tab">پیشنهاد ویژه</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-tab">
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- popular-product start -->
                <div class="tab-pane active" id="popular-product">
                    <div class="row">
                        @foreach (var starProduct in Model.StarProducts)
                        {
	                        <partial name="Components/_productCard" model="starProduct"/>
                        }
                    </div>
                </div>
                <!-- popular-product end -->
                <!-- new-arrival start -->
                <div class="tab-pane" id="new-arrival">
                    <div class="row">
                        @foreach (var newTop8Products in Model.NewTop8Products)
                        {
	                        <partial name="Components/_productCard" model="newTop8Products"/>
                        }
                    </div>
                </div>
                <!-- new-arrival end -->
                <!-- best-seller start -->
                <div class="tab-pane" id="best-seller">
                    <div class="row">
                        @foreach (var sellProducts in Model.SellProducts)
                        {
	                        <partial name="Components/_productCard" model="sellProducts"/>
                        }
                    </div>
                </div>
                <!-- best-seller end -->

            </div>
        </div>
    </div>
</div>
<!-- PRODUCT TAB SECTION END -->

</section>
