@page "/Login"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ArshaHamrah.Pages.LoginModel
@{
    ViewData["Title"] = "ورود";
}
<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">ورود / ثبت نام</h1>
                        <ul class="breadcrumb-list">
                            <li>
                                <a asp-page="index">خانه</a>
                            </li>
                            <li>ورود / ثبت نام</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<!-- Start page content -->
<div id="page-content" class="page-wrapper">
    <!-- LOGIN SECTION START -->
    <div class="login-section mb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="registered-customers">
                        <h6 class="widget-title border-left mb-40">مشتریان عضو</h6>
                        <form method="post" asp-page-handler="Submit">
                            <div class="login-account p-30 box-shadow">
                                <p>اگر حساب کاربری دارید، لطفا وارد شوید.</p>
                                <input type="text" asp-for="LoginViewModel.Username" placeholder="نام کاربری" dir="ltr">
                                <input type="password" asp-for="LoginViewModel.Password" placeholder="رمز عبور" dir="ltr">
                                <p>
                                    <small>
                                        <a href="#" data-toggle="modal" data-target="#forgetModal">رمز عبور خود را فراموش کرده اید؟</a>
                                    </small>
                                </p>
                                <button class="submit-btn-1 btn-hover-1" type="submit">ورود</button>
                                <input type="text" hidden="hidden"  asp-for="@Model.ReturnUrl" />
                            </div>
                        </form>
                    </div>
                </div>
                <!-- new-customers -->
                <div class="col-md-6">
                    <div class="new-customers">
                        <form method="post" asp-page-handler="Register">
                            <h6 class="widget-title border-left mb-40">مشتریان جدید</h6>
                            <div class="login-account p-30 box-shadow">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="نام" asp-for="RegisterViewModel.FirstName">
                                        <span asp-validation-for="RegisterViewModel.FirstName"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="نام خانوادگی" asp-for="RegisterViewModel.LastName">
                                        <span asp-validation-for="RegisterViewModel.LastName"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <span asp-validation-for="RegisterViewModel.Mobile" style="color: red"></span>
                                        <input type="text" placeholder="... شماره همراه" dir="ltr" asp-for="RegisterViewModel.Mobile">
                                    </div>
                                    <div class="col-sm-6">
                                        <span asp-validation-for="RegisterViewModel.NationalCode" style="color: red"></span>
                                        <input type="text" placeholder="... کد ملی" dir="ltr" asp-for="RegisterViewModel.NationalCode">
                                    </div>
                                </div>
                                <span asp-validation-for="RegisterViewModel.Name"></span>
                                <input type="text" placeholder="نام شرکت ..." asp-for="RegisterViewModel.Name">

                                <span asp-validation-for="RegisterViewModel.Email" style="color: red"></span>
                                <input type="text" placeholder="... آدرس ایمیل" dir="ltr" asp-for="RegisterViewModel.Email">

                                <span asp-validation-for="RegisterViewModel.Username" style="color: red"></span>
                                <input type="text" placeholder="... نام کاربری" dir="ltr" asp-for="RegisterViewModel.Username">

                                <span asp-validation-for="RegisterViewModel.Password" style="color: red"></span>
                                <input type="password" placeholder="رمز عبور" dir="ltr" asp-for="RegisterViewModel.Password">

                                <span asp-validation-for="RegisterViewModel.ConfirmPassword" style="color: red"></span>
                                <input type="password" placeholder="تکرار رمز عبور" dir="ltr" asp-for="RegisterViewModel.ConfirmPassword">

                                <div class="row">
                                    <div class="form-group">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" asp-for="RegisterViewModel.IsRole"/>
                                                <span></span>
                                                با <a href="#" data-toggle="modal" data-target="#roleModal">قوانین و مقررات</a> موافقم.
                                            </label>
                                        </div>
                                        <span asp-validation-for="RegisterViewModel.IsRole" style="color: red"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="submit-btn-1 mt-20 btn-hover-1" type="submit">ثبت نام</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="submit-btn-1 mt-20 btn-hover-1 f-right" type="reset">پاکسازی</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGIN SECTION END -->
    <partial name="_ValidationScriptsPartial" />
</div>
<!-- Modal role -->
<div class="modal fade" id="roleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin-top: 100px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h2 style="text-align: right">قوانین و مقررات</h2>
                </div>
            <div class="modal-body">
                <div class="modal-product clearfix">
                    <div class="quick-desc">
                            تمام محصولات موجود در فروشگاه «همراه پردازش آرشا» به طور کاملاً قانونی خریداری شده و در فروشگاه به خریداران عرضه می گردد.<br/>
                            با هر خرید از «همراه پردازش آرشا» فاکتور رسمی به خریداران ارائه می گردد که تمام اطلاعات خرید در آن درج گردیده است و اطلاعات مندرج در آن در موعد مقرر به مراجع تصمیم گیرنده ارسال می شود.<br />
                            قیمت درج شده وب سایت قطعی بوده و  بعد از ثبت سفارش با توجه به نوسانات ارزی، تحت هیچ عنوان کاهش یا افزایش نمی یابد.<br />
                            در شرایط ویژه و خاص، «همراه پردازش آرشا» می تواند سفارش را به دلیل اتمام موجودی کالا لغو نماید. این اتفاق مخصوصاً در زمان تخفیفات ویژه قابل مشاهده است. بدیهی است در این شرایط مبلغ پرداخت شده به طور کامل به مشتری بازگردانده خواهد شد.<br />
                            مشتری تعهد می دهد که  مواردی از جمله عوارض، مالیات، بیمه و هزینه های دولتی رایج را بر طبق قوانین جاری کشور پرداخت کند. قابل ذکر است که مالیات بر ارزش افزوده محصولات بر اساس نرخ‌های از پیش تعیین شده توسط سازمان امور مالیاتی در فاکتورهای رسمی صادره توسط فروشنده لحاظ می‌ گردد و خریدار موظف به رعایت آن است. این نرخ می تواند در بازه های مختلف زمانی تغییر نماید که مشتری موظف به پرداخت آن است.<br />
                            با توجه به نوسانات ارزی، امکان مرجوع نمودن کالایی که با افت قیمت مواجه شده وجود ندارد. در این شرایط، درخواست های مرجوع کالا با قیمت های جدید محاسبه و مبلغ قابل عودت به مشتری پرداخت خواهد شد.<br />
                            خریدار باید با دقت سفارش خود را انتخاب و ثبت نماید زیرا تغییر رنگ و مدل پس از سفارش امکان‌پذیر نیست.<br />
                            مدت زمان واریز وجه کالای عودت داده شده به حساب مبدا 3 الی 7 روز کاری می‌باشد.<br />
                            کاربر موظف است در هنگام ثبت نام اطلاعات واقعی و دقیقی ثبت نماید.<br />
                            کاربران باید در حفظ حریم خصوصی و اطلاعات حساب های شخصی خود کوشا باشند زیرا مسئولیت فعالیت های ثبت شده از طریق حساب های کاربری بر عهده کاربران خواهد بود.<br />
                            حق استفاده و نشر تمامی مطالب موجود در سایت «همراه پردازش آرشا» در انحصار این شرکت بوده و هرگونه استفاده بدون کسب مجوز کتبی، حق پیگرد قانونی را برای «همراه پردازش آرشا» محفوظ نگه می دارد.<br />
                            سفارش شما همه روزه از شنبه تا پنجشنبه (به جز ایام تعطیل) ثبت خواهند شد. بدیهی است که در صورت تعطیلی، یک روز پس از روز تعطیل، سفارش شما ثبت و پردازش خواهد شد.<br />
                            افزودن کالا به سبد خرید به معنی رزرو کالا نیست و هیچ گونه حقی برای مشتری ایجاد نمی ‌کند.<br />
                            در صورتی که در درج قیمیت ها اشتباهی رخ داده باشد حتی پس از اقدام مشتری به سفارش‌گذاری، حق باطل کردن آن سفارش و یا استرداد وجه آن سفارش برای «همراه پردازش آرشا» محفوظ است.<br />
                            هزینه ارسال محصول با توجه به تنوع  نحوه ارسال که انتخاب می‌کنید متغیر بوده و به خریدار اعلام می‌گردد.<br />
                            <h3>                  کاربران تنها می توانند در شرایط زیر کالاهای خود را مرجوع نمایند:</h3>
                         _   مشخصات درج شده در سایت همراه پردازش آرشا با مشخصات واقعی محصول مطابقت نداشته باشد.<br />
                          _  محصول مورد نظر اصل نباشد و این مورد توسط افراد ذی صلاح تایید شود.<br />
                          _  گارانتی اجناس خریداری شده نامعتبر باشد.<br />
                          _  کالای تهیه شده آکبند نباشد یا دارای ایراد باشد.<br />
                           _ مدت زمان ارسال سفارش شما توسط فروشگاه تا 72 ساعت در نظر گرفته شده است. در صورتی که بعد از 72 ساعت کد پیگیری مرسوله در اختیار شما قرار نگرفت می توانید سفارشتان را لغو نمایید.<br />
                           _ محصولاتی که توسط مشتری عودت داده می شوند، می بایست فاقد بازشدگی پلمپ باشند و همچنین جعبه فاقد پارگی و خرابی باشد و هیچگونه برچسب و نوشته ای بر روی جعبه اصلی نباشد.همچنین توجه داشته باشید که هزینه ارسال و عودت به عهده خریدار می‌باشد.<br />
                           _ مبلغ کالای عودت داده شده تنها به شماره حساب مبدا قابل بازگشت است و امکان واریز وجه به حساب شخص دیگر وجود ندارد.<br />
                           _ مدت زمان واریز وجه کالای عودت داده شده به حساب مبدا 3 روز کاری می‌باشد.<br />
                            </div>

                </div><!-- .modal-product -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div>
<!-- END Modal -->
<!-- Modal -->
<div class="modal fade" id="forgetModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin-top: 100px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 style="text-align: right">رمز عبور خود را فراموش کرده اید؟</h3>
            </div>
            <div class="modal-body">
                <div class="modal-product clearfix">
                    <div class="quick-desc">
                        <div class="login-account p-30 box-shadow">
                            <p>ایمیل خود را وارد کنید.</p>
                            <input type="email" id="Email"  placeholder="ایمیل" dir="ltr">
                    </div>
                    </div>
                    <button class="submit-btn-1 btn-hover-1" type="submit" onclick="ForgotPassword()" style="margin-top: 10px;float: left">ورود</button>
                </div><!-- .modal-product -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div>
<!-- END Modal -->
<!-- End page content -->
@section scripts{
    <script>
        function ForgotPassword()
        {

        };
    </script>

}