@page "/product/{productUrl}"
@model ArshaHamrah.Pages.ProductModel
@{
    ViewData["Title"] = "توضیحات کالا";
}
<style>
	* {box-sizing: border-box;}

	.img-magnifier-container {
		position:relative;
	}

	.img-magnifier-glass {
		position: absolute;
		border: 3px solid #000;
		border-radius: 50%;
		cursor: none;
		/*Set the size of the magnifier glass:*/
		width: 100px;
		height: 100px;
	}
</style>
<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">توضیحات کالا</h1>
                        <ul class="breadcrumb-list">
                            <li>
                                <a asp-page="index">خانه</a>
                            </li>
                            <li>توضیحات کالا</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->
<!-- Start page content -->
<section id="page-content" class="page-wrapper">

<!-- SHOP SECTION START -->
<div class="shop-section mb-80">
<div class="container">
<div class="row">
<div class="col-md-12 col-xs-12">
<!-- single-product-area start -->
<div class="single-product-area mb-80">
<div class="row">
<!-- imgs-zoom-area start -->
<div class="col-md-5 col-sm-5 col-xs-12">
	<div class="imgs-zoom-area">
		@if (Model.Product.Images.Any())
		{
			<img id="zoom_03" src="~/@($"{Model.Product.Images.FirstOrDefault().Path}/{Model.Product.Images.FirstOrDefault().Name}")"
			     data-zoom-image="~/@($"{Model.Product.Images.FirstOrDefault().Path}/{Model.Product.Images.FirstOrDefault().Name}")"
			     alt="@Model.Product.Images.FirstOrDefault().Alt">
		}
		else
		{
			<img id="zoom_03" src="~/img/product/NoImage.png" alt="NoImage">
		}
		<div class="row">
			<div class="col-xs-12">
				<div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30">
					@foreach (var image in Model.Product.Images)
					{
						<div class="p-c">
							<a href="#" data-image="~/@($"{image.Path}/{image.Name}")" data-zoom-image="~/@($"{image.Path}/{image.Name}")">
								<img src="~/@($"{image.Path}/{image.Name}")" alt="@image.Alt">
							</a>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- imgs-zoom-area end -->
<!-- single-product-info start -->
<div class="col-md-7 col-sm-7 col-xs-12">
	<div class="single-product-info">
		<h3 class="text-black-1">@Model.Product.Name </h3>
		<h6 class="brand-name-2">@Model.Product.Brand?.Name</h6>
		<!-- hr -->
		<hr>
		<!-- single-product-tab -->
		<div class="single-product-tab">
			<ul class="reviews-tab mb-20">
				<li class="active">
					<a href="#description" data-toggle="tab">توضیحات</a>
				</li>
				<li>
					<a href="#information" data-toggle="tab">اطلاعات</a>
				</li>
				<li>
					<a href="#reviews" data-toggle="tab">نقد و بررسی ها</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="description">
					<p>@Html.Raw(Model.Product.Description)</p>
				</div>
				<div role="tabpanel" class="tab-pane" id="information">
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی</p>
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
				</div>
				<div role="tabpanel" class="tab-pane" id="reviews">
					<!-- reviews-tab-desc -->
					<div class="reviews-tab-desc">
						<!-- single comments -->
						<div class="media mt-30">
							<div class="media-left">
								<a href="#">
									<img class="media-object" src="~/img/author/1.jpg" alt="#">
								</a>
							</div>
							<div class="media-body">
								<div class="clearfix">
									<div class="name-commenter pull-left">
										<h6 class="media-heading">
											<a href="#">تونی استارک</a>
										</h6>
										<p class="mb-10">27 شهریور 1398 در 14:30</p>
									</div>
									<div class="pull-right">
										<ul class="reply-delate">
											<li>
												<a href="#">پاسخ</a>
											</li>
											<li>/</li>
											<li>
												<a href="#">گزارش</a>
											</li>
										</ul>
									</div>
								</div>
								<p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</p>
							</div>
						</div>
						<!-- single comments -->
						<div class="media mt-30">
							<div class="media-left">
								<a href="#">
									<img class="media-object" src="~/img/author/2.jpg" alt="#">
								</a>
							</div>
							<div class="media-body">
								<div class="clearfix">
									<div class="name-commenter pull-left">
										<h6 class="media-heading">
											<a href="#">تونی استارک</a>
										</h6>
										<p class="mb-10">27 شهریور 1398 در 14:30</p>
									</div>
									<div class="pull-right">
										<ul class="reply-delate">
											<li>
												<a href="#">پاسخ</a>
											</li>
											<li>/</li>
											<li>
												<a href="#">گزارش</a>
											</li>
										</ul>
									</div>
								</div>
								<p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  hr -->
		<hr>
		<!-- single-pro-color-rating -->
		<div class="single-pro-color-rating clearfix">
			<div class="sin-pro-color f-left">
				<p class="color-title f-left">رنگ</p>
				<div class="widget-color f-left">
					<ul>
						<li class="color-1">
							<a href="#"></a>
						</li>
						<li class="color-2">
							<a href="#"></a>
						</li>
						<li class="color-3">
							<a href="#"></a>
						</li>
						<li class="color-4">
							<a href="#"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="pro-rating sin-pro-rating f-right">
				<a href="#" tabindex="0">
					<i class="zmdi zmdi-star"></i>
				</a>
				<a href="#" tabindex="0">
					<i class="zmdi zmdi-star"></i>
				</a>
				<a href="#" tabindex="0">
					<i class="zmdi zmdi-star"></i>
				</a>
				<a href="#" tabindex="0">
					<i class="zmdi zmdi-star-half"></i>
				</a>
				<a href="#" tabindex="0">
					<i class="zmdi zmdi-star-outline"></i>
				</a>
				<span class="text-black-5">( 27 امتیاز )</span>
			</div>
		</div>
		<!-- hr -->
		<hr>
		<!-- plus-minus-pro-action -->
		<div class="plus-minus-pro-action">
			<div class="sin-plus-minus f-left clearfix">
				<p class="color-title f-left">تعداد</p>
				<div class="cart-plus-minus f-left">
					<input type="text" value="2" name="qtybutton" class="cart-plus-minus-box">
				</div>
			</div>
			<div class="sin-pro-action f-right">
				<ul class="action-button">
					<li>
						<a href="javascript:void(0)" onclick="AddWishList(@Model.Product.Id)" title="لیست علاقمندی ها">
							<i class="zmdi zmdi-favorite"></i>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" onclick="OpenProductModal(@Model.Product.Id)" data-toggle="modal" data-target="#productModal" title="نمایش سریع">
							<i class="zmdi zmdi-zoom-in"></i>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" onclick="AddCompareList(@Model.Product.Id)" title="مقایسه">
							<i class="zmdi zmdi-refresh"></i>
						</a>

					</li>
					<li>
						<a href="javascript:void(0)" onclick="AddCart(@Model.Product.Id)" title="اضافه کردن به سبد خرید">
							<i class="zmdi zmdi-shopping-cart-plus"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- single-product-info end -->
</div>
</div>
<!-- single-product-area end -->
<div class="related-product-area">
	<div class="row">
		<div class="col-md-12">
			<div class="section-title text-left mb-40">
				<h2>محصولات مرتبط</h2>
				<h6>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و</h6>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="active-related-product">
			@foreach (var product in Model.RelatedProduct)
			{
				<!-- product-item start -->
				<div class="col-xs-12">
					<div class="product-item">
						<div class="product-img">
							<a href="single-product.html">
								<img src="~/img/product/1.jpg" alt="">
							</a>
						</div>
						<div class="product-info">
							<h6 class="product-title">
								<a asp-page="Product" asp-route-productUrl="@product.Url">@product.Name</a>
							</h6>
							<div class="pro-rating">
								<a href="#">
									<i class="zmdi zmdi-star"></i>
								</a>
								<a href="#">
									<i class="zmdi zmdi-star"></i>
								</a>
								<a href="#">
									<i class="zmdi zmdi-star"></i>
								</a>
								<a href="#">
									<i class="zmdi zmdi-star-half"></i>
								</a>
								<a href="#">
									<i class="zmdi zmdi-star-outline"></i>
								</a>
							</div>
							<h3 class="pro-price">@product.Prices.First().Amount تومان</h3>
							<ul class="action-button">
								<li>
									<a href="javascript:void(0)" onclick="AddWishList(@product.Id)" title="لیست علاقمندی ها">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" onclick="OpenProductModal(@product.Id)" data-toggle="modal" data-target="#productModal" title="نمایش سریع">
										<i class="zmdi zmdi-zoom-in"></i>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" onclick="AddCompareList(@product.Id)" title="مقایسه">
										<i class="zmdi zmdi-refresh"></i>
									</a>

								</li>
								<li>
									<a href="javascript:void(0)" onclick="AddCart(@product.Id)" title="اضافه کردن به سبد خرید">
										<i class="zmdi zmdi-shopping-cart-plus"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- product-item end -->
			}


		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
<!-- SHOP SECTION END -->

</section>

<body>

<h1>Image Magnifier Glass</h1>

<p>Mouse over the image:</p>

<div class="img-magnifier-container">
	<img id="myimage" src="~/Images/Brands/448f3560-2258-4f63-881f-11bb68029eef.png" width="600" height="400">
</div>

<p>Feel free to change the strength of the magnifier glass when initiating the magnify function.</p>

</body>
<!-- End page content -->
@section Scripts{
    <script>

        function AddCart(id) {
            $.ajax({
                type: "Get",
                url: "Product?handler=AddCart&id=" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(result) {
                    swal(result.message);
                    if (result.code === 0) {
                        var count = 0;
                        var allPrice = 0;
                        $('#Cart-List').text('');
                        $.get('Product?handler=LoadCart').done(function(products) {

                            $.each(products.returnData,
                                function(i, product) {
                                    var item =
                                        '<div class="single-cart clearfix"> id="CartDrop-' +
                                            product.productId +
                                            '"' +
                                            '<h6 class="text-capitalize"> <a asp-page="Product" asp-route-productId="' +
                                            product.url +
                                            '">' +
                                            product.name +
                                            '</a> </h6>' +
                                            '<div class="cart-img f-left">' +
                                            '<a asp-page="Product" asp-route-productId="' +
                                            product.Url +
                                            '">' +
                                            '<img width="100px" src="/' +
                                            product.imagePath +
                                            '" alt="' +
                                            product.alt +
                                            '"> </a>' +
                                            '<div class="del-icon">' +
                                            '<a href="javascript:void(0)" onclick="DeleteCart(' +
                                            product.productId +
                                            ')"> ' +
                                            '<i class="zmdi zmdi-close"></i> </a>' +
                                            '</div></div><div class="cart-info f-left"> <p>' +
                                            '<span>برند <strong>:</strong></span>' +
                                            product.brand +
                                            '</p><p><span>قیمت <strong>:</strong></span>' +
                                            product.price +
                                            '</p><p><span>تعداد <strong>:</strong></span>' +
                                            product.quantity +
                                            '</p><p> <input hidden="hidden" value="' +
                                            product.sumPrice +
                                            '" id="SumPrice-' +
                                            product.productId +
                                            '"/><span>جمع <strong>:</strong></span>' +
                                            product.sumPrice +
                                            '</p></div></div>';
                                    $('#Cart-List').append(item);
                                    count++;
                                    allPrice = allPrice + product.sumPrice;
                                });
                            $('#Cart-Count').text(count);
                            $('#All-Price').text(allPrice + ' تومان');
                        });
                    }
                },
                failure: function(response) {
                    alert(response);
                }
            });

        }

      function magnify(imgID, zoom) {
  var img, glass, w, h, bw;
  img = document.getElementById(imgID);
  /*create magnifier glass:*/
  glass = document.createElement("DIV");
  glass.setAttribute("class", "img-magnifier-glass");
  /*insert magnifier glass:*/
  img.parentElement.insertBefore(glass, img);
  /*set background properties for the magnifier glass:*/
  glass.style.backgroundImage = "url('" + img.src + "')";
  glass.style.backgroundRepeat = "no-repeat";
  glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
  bw = 3;
  w = glass.offsetWidth / 2;
  h = glass.offsetHeight / 2;
  /*execute a function when someone moves the magnifier glass over the image:*/
  glass.addEventListener("mousemove", moveMagnifier);
  img.addEventListener("mousemove", moveMagnifier);
  /*and also for touch screens:*/
  glass.addEventListener("touchmove", moveMagnifier);
  img.addEventListener("touchmove", moveMagnifier);
  function moveMagnifier(e) {
    var pos, x, y;
    /*prevent any other actions that may occur when moving over the image*/
    e.preventDefault();
    /*get the cursor's x and y positions:*/
    pos = getCursorPos(e);
    x = pos.x;
    y = pos.y;
    /*prevent the magnifier glass from being positioned outside the image:*/
    if (x > img.width - (w / zoom)) {x = img.width - (w / zoom);}
    if (x < w / zoom) {x = w / zoom;}
    if (y > img.height - (h / zoom)) {y = img.height - (h / zoom);}
    if (y < h / zoom) {y = h / zoom;}
    /*set the position of the magnifier glass:*/
    glass.style.left = (x - w) + "px";
    glass.style.top = (y - h) + "px";
    /*display what the magnifier glass "sees":*/
    glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
  }
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /*get the x and y positions of the image:*/
    a = img.getBoundingClientRect();
    /*calculate the cursor's x and y coordinates, relative to the image:*/
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /*consider any page scrolling:*/
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
}
        /* Initiate Magnify Function
with the id of the image, and the strength of the magnifier glass:*/
        magnify("myimage", 3);
    </script>
}