@page "/Shop/{path?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ArshaHamrah.Pages.ShopModel
@{
	ViewData["Title"] = "خرید";
}
<style>
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	.switch input { 
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider {
		background-color: orangered;
	}
	
    input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
</style>
<link href="~/css/stars.css" rel="stylesheet" />
<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80">
	<div class="breadcrumbs overlay-bg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="breadcrumbs-inner">
						<h1 class="breadcrumbs-title">نمایش کالاها</h1>
						<ul class="breadcrumb-list">
							<li>
								<a asp-page="index">خانه</a>
							</li>
							<li>نمایش کالاها</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- BREADCRUMBS SETCTION END -->
<!-- Start page content -->
<div id="page-content" class="page-wrapper">

	<!-- SHOP SECTION START -->
	<div class="shop-section mb-80">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-md-push-3 col-sm-12">
					<div class="shop-content">
						<!-- shop-option start -->
						<div class="shop-option box-shadow mb-30 clearfix">
							<!-- Nav tabs -->
							<ul class="shop-tab f-left" role="tablist">
								<li class="active">
									<a href="#grid-view" data-toggle="tab">
										<i class="zmdi zmdi-view-module"></i>
									</a>
								</li>
								<li>
									<a href="#list-view" data-toggle="tab">
										<i class="zmdi zmdi-view-list-alt"></i>
									</a>
								</li>
							</ul>
							<!-- short-by -->
						
							<!-- showing -->
							@{
								var startNumber = (Model.Products.PaginationDetails.CurrentPage - 1) * Model.Products.PaginationDetails.PageSize + 1;
								var endNumber = Model.Products.PaginationDetails.CurrentPage * Model.Products.PaginationDetails.PageSize;
								var total = Model.Products.PaginationDetails.TotalCount;
								if (endNumber > total) endNumber = total;
							}
							<div class="showing f-right text-right">
								<span>نمایش @startNumber - @endNumber از @total نتیجه</span>
							</div>
						</div>
						<!-- shop-option end -->
						<!-- Tab Content start -->
						<div class="tab-content">
							<!-- grid-view -->
							<div role="tabpanel" class="tab-pane active" id="grid-view">
								<div class="row">
									@foreach (var product in Model.Products.ReturnData)
									{
										<!-- product-item start -->
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="product-item">
												<div class="product-img">
													<a asp-page="Product" asp-route-productUrl="@product.Url">

														@if (product.ImagePath != null)
														{
															<img src="~/@($"{product.ImagePath}")" alt="@product.Alt">
														}
														else
														{
															<img src="~/img/product/NoImage.png" alt="NoImage">
														}

													</a>
												</div>
												<div class="product-info">
													<h6 class="product-title">
														<a asp-page="Product" asp-route-productUrl="@product.Url">@product.Name </a>
													</h6>
													<div class="pro-rating">
													  @for (var i = 1; i <= 5; i++)
                                            {
															<label for="starLable-@product.Id-@i" @if (product.Stars >= i)
                                                   {<text> class="rankChecked" </text> }>
																		<input onclick="SaveStars(@product.Id, @i)" type="checkbox" id="starLable-@product.Id-@i" />
                                                                <i class="zmdi zmdi-star"></i>
                                                        </label>
                                            }
													</div>
                                                    @{
                                                        decimal? discount = 0;
                                                        decimal? discountAmount = 0;
                                                        decimal? amount = 0;
														var price = product.Prices.OrderByDescending(o => o.Amount).FirstOrDefault(x => x.Exist > 0);
                                                        if (price != null)
                                                        {

                                                            if (price.Discount != null)
                                                                if (price.Discount.Amount > 0)
                                                                {
                                                                    discount = (decimal) price.Discount.Amount;
                                                                }
                                                                else if (price.Discount.Percent > 0)
                                                                {
                                                                    discount = price.Amount * (decimal) price.Discount.Percent / 100;
                                                                }
                                                            discountAmount = price.Amount - discount;
                                                            amount = price.Amount;
                                                        }
                                                    }
                                                    <div class="s-price-box">
                                                        @if (price == null)
                                                        {
                                                            <h3 class="pro-price">نا موجود</h3>
                                                        }
                                                        else
                                                        {
                                                            if (discount > 0)
                                                            {
                                                                <h3 class="old-price">@amount?.ToString("###,###,###,###") تومان</h3>
                                                            }
                                                            <h3 class="pro-price">@discountAmount?.ToString("###,###,###,###") تومان</h3>
                                                        }
                                                    </div>
													<ul class="action-button">
														<li>
															<a href="javascript:void(0)" onclick="AddWishList(@product.Id)" title="لیست علاقمندی ها">
																<i class="zmdi zmdi-favorite"></i>
															</a>
														</li>
														<li>
															<a href="javascript:void(0)" onclick="OpenProductModal(@product.Id)" data-toggle="modal" data-target="#productModal" title="نمایش سریع">
																<i class="zmdi zmdi-zoom-in"></i>
															</a>
														</li>
														<li>
															<a href="javascript:void(0)" onclick="AddCompareList(@product.Id)" title="مقایسه">
																<i class="zmdi zmdi-refresh"></i>
															</a>

														</li>
                                                    @*<li>
															<a href="javascript:void(0)" onclick="AddCart(@product.Id,@product.Prices.First().Id,1)" title="اضافه کردن به سبد خرید">
																<i class="zmdi zmdi-shopping-cart-plus"></i>
															</a>
														</li>*@
													</ul>
												</div>
											</div>
										</div>
										<!-- product-item end -->
									}

								</div>
							</div>
							<!-- list-view -->
							<div role="tabpanel" class="tab-pane" id="list-view">
								<div class="row">
									@foreach (var product in Model.Products.ReturnData)
									{
										<!-- product-item start -->
										<div class="col-md-12">
											<div class="shop-list product-item">
												<div class="product-img">
													<a asp-page="Product" asp-route-productUrl="@product.Url">

														@if (product.ImagePath != null)
														{
															<img src="~/@($"{product.ImagePath}")" alt="@product.Alt">
														}
														else
														{
															<img src="~/img/product/NoImageFound.png" alt="NoImage">
														}

													</a>
												</div>
												<div class="product-info">
													<div class="clearfix">
														<h6 class="product-title">
															<a asp-page="Product" asp-route-productUrl="@product.Url">@product.Name </a>
														</h6>
														<div class="pro-rating f-right">
															  @for (var i = 1; i <= 5; i++)
                                            {
                                                <label for="starLable-@product.Id-@i" @if (product.Stars >= i)
                                                   {<text> class="rankChecked" </text> }>
																		<input onclick="SaveStars(@product.Id, @i)" type="checkbox" id="starLable-@product.Id-@i" />
                                                                <i class="zmdi zmdi-star"></i>
                                                        </label>
                                            }
														</div>
													</div>
													<h6 class="brand-name mb-15">@product.Brand</h6>
													@{
														decimal? discount = 0;
														decimal? discountAmount = 0;
														decimal? amount = 0;
														var price = product.Prices.OrderBy(o => o.Amount).FirstOrDefault(x => x.Exist > 0);
														if (price != null)
														{

															if (price.Discount != null)
																if (price.Discount.Amount > 0)
																{
																	discount = (decimal)price.Discount.Amount;
																}
																else if (price.Discount.Percent > 0)
																{
																	discount = price.Amount * (decimal)price.Discount.Percent / 100;
																}
															discountAmount = price.Amount - discount;
															amount = price.Amount;
														}
													}
													<div class="s-price-box">
														@if (price == null)
														{
															<h3 class="pro-price">نا موجود</h3>
														}
														else
														{
															if (discount > 0)
															{
																<h3 class="old-price">@amount?.ToString("###,###,###,###") تومان</h3>
															}
															<h3 class="pro-price">@discountAmount?.ToString("###,###,###,###") تومان</h3>
														}
													</div>
													<p> @Html.Raw(product.Description)</p>
													<ul class="action-button">
														<li>
															<a href="javascript:void(0)" onclick="AddWishList(@product.Id)" title="لیست علاقمندی ها">
																<i class="zmdi zmdi-favorite"></i>
															</a>
														</li>
														<li>
															<a href="javascript:void(0)" onclick="OpenProductModal(@product.Id)" data-toggle="modal" data-target="#productModal" title="نمایش سریع">
																<i class="zmdi zmdi-zoom-in"></i>
															</a>
														</li>
														<li>
															<a href="javascript:void(0)" onclick="AddCompareList(@product.Id)" title="مقایسه">
																<i class="zmdi zmdi-refresh"></i>
															</a>

														</li>
														<li>
															<a href="javascript:void(0)" onclick="AddCart(@product.Id,@product.Prices.First().Id,1)" title="اضافه کردن به سبد خرید">
																<i class="zmdi zmdi-shopping-cart-plus"></i>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<!-- product-item end -->
									}

								</div>
							</div>
						</div>
						<!-- Tab Content end -->
						<!-- shop-pagination start -->
						<ul class="shop-pagination box-shadow text-center ptblr-10-30">
						
							<partial name="_Pagination" model="@Model.Products.PaginationDetails" />
						</ul>
						<!-- shop-pagination end -->
					</div>
				</div>
				<div class="col-md-3 col-md-pull-9 col-sm-12">
					<!-- widget-search -->
					<aside class="widget-search mb-30">
						<form method="Get" asp-page-handler="OnGet">
							<input type="text" name="search" placeholder="جستجو ...">
							<button type="submit">
								<i class="zmdi zmdi-search"></i>
							</button>
						</form>
					</aside>
					
					<!-- widget-categories -->
					<aside class="widget widget-categories box-shadow mb-30">
						<h6 class="widget-title border-left mb-20">دسته ها</h6>
						<div class="product-cat">
							<ul>
								@foreach (var parent in Model.Categories.OrderBy(x => x.DisplayOrder))
								{
									<li>
										<a style="font-weight: bolder;font-size: 16px" asp-page="Shop" asp-route-path="@parent.Path">@parent.Name</a>
										@foreach (var child in parent.Children.OrderBy(x => x.DisplayOrder))
										{
											<ul>
												<li>
													<a id="@child.Id" asp-page="Shop" asp-route-path="@child.Path">@child.Name</a>
												</li>
											</ul>
										}
									</li>
								}
							</ul>
						</div>
					</aside>
					<!-- shop-filter -->
				
					
					<aside class="widget shop-filter box-shadow mb-30">
						<h6 class="widget-title border-left mb-20">قیمت</h6>
						<div class="price_filter">
                            <form asp-page-handler="OnGet" method="get">
							
                                <label for="min-price" class="form-label">حداقل قیمت (تومان) </label><br/>
                                <span id="min-price-txt">@Model.Min</span>
								<input type="range" class="form-range" min="100000" max="200000000" id="min-price" name="minprice" step="100000" value="@Model.Min">
                                <label for="max-price" class="form-label">حداکثر قیمت (تومان) </label><br/>
								<span id="max-price-txt">@Model.Max</span>
								<input type="range" class="form-range" min="1000000" max="200000000" id="max-price" name="maxprice" step="100000" value="@Model.Max">
                                <br/>
                                <h6 class="widget-title border-left mb-20">فقط نمایش کالاهای موجود</h6>
                                <label class="switch">
                                    <input type="checkbox" name="isExist" value="true" @if(@Model.IsExist){
                                                                                           <text>checked</text>}>
                                    <span class="slider round"></span>
                                </label>
								<h6 class="widget-title border-left mb-20">مرتب سازی بر اساس</h6>
									<select name="ProductSort" id="ProductSort" value="@Model.ProductSort">
										@{
											bool sel1 = false;
											bool sel2 = false;
											bool sel3 = false;
											bool sel4 = false;
											if (Model.ProductSort == 1) sel1 = true;
											if (Model.ProductSort == 2) sel2 = true;
											if (Model.ProductSort == 3) sel3 = true;
											if (Model.ProductSort == 4) sel4 = true;
										}
										<option value="1" selected=@sel1>
											جدیدترین ها
										</option>
										<option value="2" selected=@sel2>
											محبوب ترین ها
										</option>							
										<option value="3" selected=@sel3>   
											قیمت صعودی
										</option>
										<option value="4" selected=@sel4>
											قیمت نزولی
										</option>
									</select>
									
                                <br/>
								<input name="pageSize" value="@Model.Products.PaginationDetails.PageSize" hidden="hidden" />
								<input name="search" value="@Model.Products.PaginationDetails.Search" hidden="hidden" />

                                <button type="submit" class="submit-btn-1 black-bg btn-hover-2"
                                        style="margin-top: 20px">اعمال</button>
                            </form>
						</div>
					</aside>
					<!-- widget-product -->
					<aside class="widget widget-product box-shadow">
						<h6 class="widget-title border-left mb-20">محصولات اخیر</h6>
						<!-- product-item start -->
						@foreach (var newProduct in Model.NewProducts)
						{<div class="product-item">
							<div class="product-img">
								<a asp-page="Product" asp-route-productUrl="@newProduct.Url.Trim()">
									<img style="width: 70px;height: 78px" src="~/@newProduct.ImagePath" alt="@newProduct.Alt">
								</a>
							</div>
							<div class="product-info">
								<h6 class="product-title">
									<a asp-page="Product" asp-route-productUrl="@newProduct.Url.Trim()">@newProduct.Name</a>
								</h6>
								<h3 class="pro-price">@newProduct.Prices.First().Amount تومان</h3>
							</div></div><!-- product-item end -->}
					</aside>
				</div>
			</div>
		</div>
	</div>
	<!-- SHOP SECTION END -->
</div>
<!-- End page content -->
@section scripts{
	<script>
		window.onload = function() {
			min_price = parseInt($("#min-price").val());
			var minPrice = min_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			$("#min-price-txt").text(minPrice);

			max_price = parseInt($("#max-price").val());
			var maxPrice = max_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			$("#max-price-txt").text(maxPrice);
		};

		$("#min-price").on("change mousemove", function () {
			min_price = parseInt($("#min-price").val());
			var minPrice = min_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			$("#min-price-txt").text(minPrice);
		});

		$("#max-price").on("change mousemove", function () {
			max_price = parseInt($("#max-price").val());
			var maxPrice = max_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			$("#max-price-txt").text(maxPrice);
		});
	</script>
}