@page "/UserProfile"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ArshaHamrah.Pages.UserProfile
@{
}
<style>

</style>
<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">حساب کاربری</h1>
                        <ul class="breadcrumb-list">
                            <li>
                                <a href="index.html">خانه</a>
                            </li>
                            <li>حساب کاربری</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->
<!-- Start page content -->
<div id="page-content" class="page-wrapper">
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
    Model.Code = null;
}
    <!-- LOGIN SECTION START -->
    <div class="login-section mb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a>اطلاعات شخصی من</a>
                            </h4>
                        </div>
                        <div class="panel-collapse " role="tabpanel">
                            <div class="panel-body">
                                <div class="contact-address box-shadow">
                                    <h6>@Model.UserInformation.FirstName @Model.UserInformation.LastName</h6>
                                    <h5>@Model.UserInformation.Mobile</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="my-account-content" id="accordion2">
                        <!-- My Order info -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#My_order_info">تاریخچه سفارشات</a>
                                </h4>
                            </div>
                            <div id="My_order_info" class="panel-collapse" role="tabpanel">
                                <div class="panel-body" style="padding: 15px">
                                    <!-- our order -->
                                    @foreach (var purchaseOrder in Model.PurchaseOrders)
                                    {
                                        <div class="pro contact-address box-shadow" style="text-align: right">
                                            <a href="#detailfactor-@purchaseOrder.Id" data-toggle="tab">
                                                <h6 class="blog-section-title border-left mb-30">
                                                    جزییات فاکتور
                                                    <i style="font-size: 20px; background: none; color: black; margin-bottom: 0" class="zmdi zmdi-arrow-back"></i>

                                                </h6>
                                            </a>
                                            <ul class="breadcrumb-list" style="padding: 0">
                                                <li>
                                                    @purchaseOrder.CreationDate
                                                </li>
                                                <li>کدسفارش:@purchaseOrder.Id</li>
                                                @if (purchaseOrder.IsPaied)
                                                {
                                                    <li>وضعیت پرداخت : پرداخت شده</li>
                                                }
                                                else
                                                {
                                                    <li>وضعیت پرداخت : پرداخت نشده</li>
                                                }
                                                <li>مبلغ:@purchaseOrder.Amount.ToString("###,###,###,###") تومان</li>
                                                <li>تخفیف:@purchaseOrder.Discount.ToString("###,###,###,###") تومان</li>

                                            </ul><hr>
                                            <div style="text-align: left">
                                                <a href="#"><i></i>مشاهده فاکتور</a>
                                            </div>
                                        </div>
                                        <div class="tab-content" style="margin-top:10px">
                                            <div role="tabpanel" class="tab-pane" id="detailfactor-@purchaseOrder.Id">
                                                <div class="contact-address box-shadow" style="text-align:right">
                                                    <hr>
                                                    <ul class="breadcrumb-list" style="padding: 0">
                                                        <li>
                                                            نام تحویل گیرنده
                                                            @purchaseOrder.SendInformation.RecipientName
                                                        </li>
                                                        <li>
                                                            شماره موبایل
                                                            @purchaseOrder.SendInformation.Mobile
                                                        </li>
                                                        <br>
                                                        <li>
                                                            آدرس
                                                            @purchaseOrder.SendInformation.Address
                                                        </li>
                                                    </ul><hr>
                                                    @foreach (var purchaseOrderDetail in purchaseOrder.PurchaseOrderDetails)
                                                    {

                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <img style="width: 80px" src="@purchaseOrderDetail.Product.Images!.First().Path/@purchaseOrderDetail.Product.Images!.First().Name" alt="@purchaseOrderDetail.Product.Images!.First().Alt">
                                                            </div>
                                                            <div class="col-md-8">
                                                                <a asp-page="Product" asp-route-productUrl="@purchaseOrderDetail.Product.Url">@purchaseOrderDetail.Product.Name</a>
                                                                <br />
                                                            </div>

                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- My password -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#my_shipping">تغییر پسورد من</a>
                                </h4>
                            </div>
                            <div id="my_shipping" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <div class="new-customers p-30">
                                        <input type="password" id="OldPass" placeholder="رمز عبور قدیمی" dir="ltr">
                                        <input type="password" id="NewPass" placeholder="رمز عبور جدید" dir="ltr">
                                        <input type="password" id="NewConPass" placeholder="تکرار رمز عبور جدید" dir="ltr">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <button class="submit-btn-1 mt-20 btn-hover-1 f-right" onclick="ChangePassword()">تغییر پسورد</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- My user details -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#billing_address">اطلاعات شخصی من</a>
                                </h4>
                            </div>
                            <div id="billing_address" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <form method="post" asp-page-handler="Edit">
                                        <div class="billing-details p-30">
                                            <input asp-for="@Model.UserInformation" hidden="hidden"/>
                                            <input asp-for="@Model.UserInformation.FirstName" type="text" placeholder="نام شما ...">
                                            <input asp-for="@Model.UserInformation.LastName" type="text" placeholder="نام خانوادگی">
                                            <input asp-for="@Model.UserInformation.Email" type="text" placeholder="... آدرس ایمیل" dir="ltr">
                                            <input asp-for="@Model.UserInformation.CompanyName" type="text" placeholder="نام شرکت ...">
                                            <input asp-for="@Model.UserInformation.Mobile" type="text" placeholder="... شماره موبایل" dir="ltr">
                                            <input asp-for="@Model.UserInformation.NationalCode" type="text" placeholder="... کد ملی" dir="ltr">

                                            <select asp-for="@Model.UserInformation.StateId" class="custom-select" id="state" onchange="setCities();">
                                                @foreach (var state in Model.StateList.ReturnData)
                                                {
                                                    <option value="@state.Id">@state.Name</option>
                                                }
                                            </select>

                                            <select asp-for="@Model.UserInformation.CityId" class="custom-select" id="city">
                                                @foreach (var city in Model.CityList.ReturnData)
                                                {
                                                    <option value="@city.Id">@city.Name</option>
                                                }
                                            </select>

                                            <div class="row">

                                                <div class="col-md-6">
                                                    <button class="submit-btn-1 mt-20 btn-hover-1 f-right" type="submit">ویرایش</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- تیکت Method -->
                        @*<div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#My_payment_method">ارسال تیکت</a>
                                </h4>
                            </div>
                            <div id="My_payment_method" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <form action="#">
                                        <div class="new-customers p-30">

                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <input type="text" placeholder="عنوان">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" placeholder="ایمیل">
                                                </div>
                                                <div class="col-sm-12">
                                                    <textarea class="custom-textarea" placeholder="متن تیکت ..."></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button class="submit-btn-1 mt-20 btn-hover-1" type="submit" value="register">ارسال</button>
                                                </div>
                                            </div>
                                            <hr>
                                            <!-- single-product-tab -->
                                            <div class="single-product-tab">
                                                <ul class="reviews-tab mb-20">
                                                    <li class="active"><a href="#description" data-toggle="tab">همه ی تیکت ها</a></li>
                                                    <li><a href="#information" data-toggle="tab">تیکت در انتظار</a></li>
                                                    <li><a href="#reviews" data-toggle="tab">تیکت پاسخ داده شده</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="description">
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان</p>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="information">
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی</p>
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="reviews">
                                                        <!-- reviews-tab-desc -->
                                                        <div class="reviews-tab-desc">
                                                            <!-- single comments -->
                                                            <div class="media mt-30">
                                                                <div class="media-left">
                                                                    <a href="#"><img class="media-object" src="img/author/1.jpg" alt="#"></a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="clearfix">
                                                                        <div class="name-commenter pull-left">
                                                                            <h6 class="media-heading"><a href="#">تونی استارک</a></h6>
                                                                            <p class="mb-10">27 شهریور 1398 در 14:30</p>
                                                                        </div>
                                                                        <div class="pull-right">
                                                                            <ul class="reply-delate">
                                                                                <li><a href="#">پاسخ</a></li>
                                                                                <li>/</li>
                                                                                <li><a href="#">گزارش</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</p>
                                                                </div>
                                                            </div>
                                                            <!-- single comments -->
                                                            <div class="media mt-30">
                                                                <div class="media-left">
                                                                    <a href="#"><img class="media-object" src="img/author/2.jpg" alt="#"></a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="clearfix">
                                                                        <div class="name-commenter pull-left">
                                                                            <h6 class="media-heading"><a href="#">تونی استارک</a></h6>
                                                                            <p class="mb-10">27 شهریور 1398 در 14:30</p>
                                                                        </div>
                                                                        <div class="pull-right">
                                                                            <ul class="reply-delate">
                                                                                <li><a href="#">پاسخ</a></li>
                                                                                <li>/</li>
                                                                                <li><a href="#">گزارش</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGIN SECTION END -->
</div>


@section Scripts
{
    <script>
        function ChangePassword() {
            var oldPass = $("#OldPass").val();
            var newPass = $("#NewPass").val();
            var newConPass = $("#NewConPass").val();
            $.ajax({
                type: "Get",
                url: "userProfile?handler=ChangePassword&newPass=" + encodeURIComponent(newPass) + "&newConPass=" + encodeURIComponent(newConPass) +  "&oldPass=" + encodeURIComponent(oldPass),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    swal(result.message);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        function setCities() {
            var stateId = $('#state').val();
            $.ajax({
                type: "Get",
                url: "Checkout?handler=CityLoad&id=" + stateId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#city").html(result);
                },
                failure: function (response) {
                    alert(response);
                }
            });

        }
    </script>
}