@page
@model ArshaHamrah.Pages.WishListModel
@{
    ViewData["Title"] = "لیست علاقمندی ها";
}
<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">لیست علاقمندی ها</h1>
                        <ul class="breadcrumb-list">
                            <li>
                                <a asp-page="index">خانه</a>
                            </li>
                            <li>لیست علاقمندی ها</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->
<!-- wishlist start -->

<div class="tab-pane" id="wishlist">
    <div class="wishlist-content">
        <form action="#">
            <div class="table-content table-responsive mb-50">
                <table class="text-center">
                    <thead>
                    <tr>
                        <th class="product-thumbnail">محصول</th>
                        <th class="product-price">قیمت</th>
                        <th class="product-stock">وضعیت انبار</th>
                        <th class="product-add-cart">افزودن به سبد</th>
                        <th class="product-remove">حذف</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var wish in Model.WishList.ReturnData)
                    {
                        <!-- tr -->
                        <tr id="wishlist-@wish.Id">
                            <td class="product-thumbnail">
                                <div class="pro-thumbnail-img">
                                    <img src="img/cart/1.jpg" alt="">
                                </div>
                                <div class="pro-thumbnail-info text-left">
                                    <h6 class="product-title-2">
                                        <a asp-page="Product" asp-route-productId="@wish.Url">@wish.Name</a>
                                    </h6>
                                    <p>برند: @wish.Brand</p>
                                </div>
                            </td>
                            <td class="product-price">@wish.Price.ToString("N0") تومان</td>
                            <td class="product-stock text-uppercase">@wish.StoreStatus</td>
                            <td class="product-add-cart">
                                <a href="javascript:void(0)" onclick="AddCart(@wish.Id)" title="اضافه کردن به سبد خرید">
                                    <i class="zmdi zmdi-shopping-cart-plus"></i>
                                </a>
                            </td>
                            <td class="product-remove">
                                <a href="javascript:void(0)" onclick="RemoveWish(@wish.Id)">
                                    <i class="zmdi zmdi-close"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

<!-- wishlist end -->

@section Scripts
{
    <script>
        function RemoveWish(id) {
            $.ajax({
                type: "Get",
                url: "Cart?handler=RemoveWishList&id=" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(result) {
                    swal(result.message);
                    if (result.code === 0) {
                        var elementId = "#wishlist-" + id;
                        $(elementId).remove();
                    }
                },
                failure: function(response) {
                    alert(response);
                }
            });
        }
    </script>
}