@page "/Admin/DeleteBrand"
@model ArshaHamrah.Areas.Admin.Pages.Brands.DeleteModel
@{
}
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2 ">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        حذف برند
                    </h3>
                </div>
                <!--begin::Form-->
                <form class="form" method="post" asp-page-handler="OnPost">
                    <input hidden="hidden" name="id" asp-for="@Model.Brand.Id" />
                    <div class="card-body">
                        <div class="form-group">
                            <label>نام</label>
                            <label class="form-control form-control-solid">@Model.Brand.Name</label>
                        </div>
                        <div class="form-group">
                            <label>توضیحات</label>
                            <label class="form-control form-control-solid" rows="3">@Html.Raw(Model.Brand.Description)</label>
                        </div>
                        <div class="form-group">
                            <label>تصویر برند</label>
                            <img src="@Model.Brand.ImagePath">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary mr-2">حذف</button>
                        <a class="btn btn-secondary" asp-Page="/brands/index" asp-area="Admin">لغو</a>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>