@model Entities.ViewModel.ProductIndexPageViewModel


<div class="col">
    <div class="product-card">
        <div class="product-media">
            <div class="product-label">
                <label class="label-text new">جدید</label>
            </div>
            <button class="product-wish wish">
                <i class="far fa-heart"></i>
            </button>
            <a class="product-image" asp-area="" asp-page="Product" asp-route-productUrl="@Model.Url.Trim()">
                <img src="~/@Model.ImagePath" alt="@Model.Alt">
            </a>
            <div class="product-widget">
                @*  <a title="فیلم محصول" href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="venobox far fa-play" data-autoplay="true" data-vbtype="video"></a>*@
                <a title="نمای محصول" asp-area="" asp-page="Product" asp-route-productUrl="@Model.Url" class="far fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                <a title="مقایسه محصول" asp-area="" asp-page="/Compare" class="far fa-exchange"></a>
            </div>
        </div>
        <div class="product-content">
            <h6 class="product-name">
                <a asp-area="" asp-page="Product" asp-route-productUrl="@Model.Url">@Model.Name</a>
            </h6>
         
            <div class="pro-rating sin-pro-rating f-right">
                @for (var i = 1; i <= 5; i++)
                {
                    <label id="starLable-@i" for="@i" @if (Model.Stars >= i)
                                                      {<text> class="rankChecked" </text> }>
                        <input  onclick="SaveStars(@Model.Id,@i)" type="checkbox" id="@i" />
                        <i class="fas fa-star"></i>
                    </label>
                }
                <a asp-area="" asp-page="Product" asp-route-productUrl="@Model.Url.ToString().Trim()">(@Model.Stars)نظر</a>
            </div>
            <div class="product-price">
	            @{
		            decimal? discount = 0;
		            decimal? amount = 0;
		            decimal? discountAmount = 0;
		            var singlePrice = Model.Prices.OrderBy(p => p.Amount).FirstOrDefault(x => !x.IsColleague && x.Exist > 0);
		            if (singlePrice != null)
		            {
			            amount = singlePrice.Amount;


			            if (singlePrice.Discount != null)
				            if (singlePrice.Discount.Amount > 0)
				            {
					            discount = (decimal)singlePrice.Discount.Amount;
				            }
				            else if (singlePrice.Discount.Percent > 0)
				            {
					            discount = singlePrice.Amount * (decimal)singlePrice.Discount.Percent / 100;
				            }
			            discountAmount = amount - discount;
		            }

	            }
	            @if (singlePrice == null)
	            {
		            <h6 class="feature-price">
			            <span>ناموجود</span>
		            </h6>
	            }
	            else
	            {
		            @if (discount > 0)
		            {
			            <div class="feature-price">
				            <del>@amount?.ToString("###,###,###,###") تومان</del>
			            </div>
		            }
		            <h6 class="feature-price">
			            <span>@discountAmount?.ToString("###,###,###,###") تومان</span>
		            </h6>
		        
	            }
                <a class="product-add" title="افزودن به سبد خرید" href="javascript:void(0)" onclick="AddCart(@Model.Id,@Model.Prices.First().Id)">
                    <i class="far fa-shopping-cart"></i>
                </a>
            </div>
        </div>
    </div>
</div>