@page
@model ECommerce.Front.Admin.Pages.Categories.CreateModel
@{
    ViewData["Title"] = "اضافه کردن دسنه بندی";
}
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2 ">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        ایجاد دسنه بندی جدید
                    </h3>
                </div>
                <!--begin::Form-->
                <form class="form" method="post" asp-page-handler="OnPost">
                    <div class="card-body">
                        <div class="form-group">
                            <label>نام</label>
                            <input asp-for="@Model.Category.Name" class="form-control form-control-solid"/>
                            <span asp-validation-for="@Model.Category.Name" class="mt-5" style="color: red; margin-top: 10px"></span>
                        </div>
                        <div class="form-group">
                            <label>مسیر</label>
                            <input asp-for="@Model.Category.Path" class="form-control form-control-solid"/>
                            <span asp-validation-for="@Model.Category.Path" class="mt-5" style="color: red; margin-top: 10px"></span>
                        </div>
                        <div class="checkbox-list">
                            <label class="checkbox">
                                <input type="checkbox" checked="checked" asp-for="@Model.Category.IsActive"/>
                                <span></span>
                                فعال بودن
                            </label>
                        </div>
                        <input asp-for="@Model.Category.Depth" hidden="hidden" value="0"/>
                        <div class="form-group">
                            <label>انتخاب منوی پدر</label>
                            <br/>
                            <input type="radio" id="0" checked="checked" name="Category.ParentId" value="0">
                            <label for="0">بی پدر! :))</label>
                            <input hidden="hidden" id="path_0" value=""/>
                            <input hidden="hidden" id="depth_0" value="-1"/>

                            <partial name="_ParentCategory" model="@Model.Categories"/>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary mr-2">ثبت</button>
                        <a class="btn btn-secondary" asp-Page="/Categories/index">لغو</a>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('[name="Category.ParentId"]').click(function(event) {
            var id = $(this).attr('id');
            //var nameId = "#name_" + id;
            var depthId = "#depth_" + id;
            var pathId = "#path_" + id;
            //var name = $(nameId).val();
            var depth = $(depthId).val();
            var path = $(pathId).val();
            var name = $('[name="Category.Name"]').val();
            $('[name="Category.Path"]').val(path + "/" + name);
            $('[name="Category.Depth"]').val(depth);
        });

    </script>
}