@page
@model ECommerce.Front.Admin.Pages.Colors.CreateModel
@{
}
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2 ">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        ایجاد رنگ جدید
                    </h3>
                </div>
                <!--begin::Form-->
                <form class="form" method="post" asp-page-handler="OnPost" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label>نام</label>
                            <input asp-for="@Model.Color.Name" class="form-control form-control-solid"/>
                            <span asp-validation-for="@Model.Color.Name" class="mt-5" style="color: red; margin-top: 10px"></span>
                        </div>
                        <div class="form-group">
                            <label>یک رنگ انتخاب کنید</label>
                            <input asp-for="@Model.Color.ColorCode" class="form-control form-control-solid" type="color" value="#f6b73c"/>

                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary mr-2">ثبت</button>
                        <a class="btn btn-secondary" asp-Page="/Colors/index">لغو</a>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>