@page "/Blogs/{blogCategoryId}"
@model ECommerce.Front.BolouriGroup.Pages.BlogModel
@{
    ViewData["Title"] = "وبلاگ";
}


<section class="inner-section single-banner">
    <div class="container">
        <h2>وبلاگ</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">وبلاگ</li>
        </ol>
    </div>
</section>


<section class="inner-section blog-standard">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">

                @if (Model.Blogs != null)
                {
                    foreach (var blog in Model.Blogs.ReturnData)
                    {
                        <partial name="Components/_blogCard" model="blog" />
                    }
                }
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            <partial name="_Pagination" model="@Model.Blogs.PaginationDetails" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-4">
                <div class="blog-widget">
                    <h3 class="blog-widget-title">جستجو کردن</h3>
                    <form method="post" asp-page-handler="OnPost" class="blog-widget-form">
                       @* <input name="@Model.Search" type="text" placeholder="جستجو کردن...">*@
                        <input type="text" placeholder="جستجو کردن..." dir="rtl" asp-for="@Model.Search">
                        <button class="far fa-search" role="button"></button>
                        </form>
                </div>
                <div class="blog-widget">
                    <h3 class="blog-widget-title">برچسب های محبوب</h3>
                    <ul class="blog-widget-tag">
                        @foreach (var tag in Model.Tags.ReturnData)
                        {
                            var path = $"/Blogs/{tag.TagText}";
                            <li><a href="@path">@tag.TagText</a></li>
                        }
                    </ul>
                </div>
                <div class="blog-widget">
                    <h3 class="blog-widget-title">ما را دنبال کنید</h3>
                    <ul class="blog-widget-social">
                        <li>
                            <a class="fab fa-linkedin" title="لینکدین" href="https://www.linkedin.com/in/boloorico-%D8%AA%D8%AC%D9%87%DB%8C%D8%B2%D8%A7%D8%AA-%D8%B5%D9%86%D8%B9%D8%AA%DB%8C-%D8%A8%D9%84%D9%88%D8%B1%DB%8C-506aa6217/"></a>
                        </li>
                        <li>
                            <a class="fab fa-pinterest" href="https://pin.it/4PLGQh2" title="پینترست"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/boloorico/" class="fab fa-instagram" title="اینستاگرام"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
