@page
@model ECommerce.Front.BolouriGroup.Pages.CheckoutModel
@{
    ViewData["Title"] = "فروشگاه اینترنتی بلوری";
}
<section class="inner-section single-banner">
    <div class="container">
        <h1>پرداخت</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">پرداخت</li>
        </ol>
    </div>
</section>
<section class="inner-section checkout-part">
    <div class="container">
        @if (Model.Message != null)
        {
            switch (Model.Code)
            {
                case "Error":
                    <div class="alert alert-danger"> @Model.Message </div>
                    break;
                case "Warning":
                    <div class="alert alert-warning"> @Model.Message </div>
                    break;
                case "Info":
                    <div class="alert alert-info"> @Model.Message </div>
                    break;
                default:
                    <div class="alert alert-success"> @Model.Message </div>
                    break;
            }

            Model.Message = null;
            Model.Code = null;
        }
        <form method="post" asp-page-handler="OnPost">
            <div class="row">
                <div class="col-lg-8 col-sm-12">

                    <div class="account-card">
                        <div class="account-title">
                            <h4>نشانی تحویل</h4>
                            <p style="font-size:14px">لطفا آدرس خود را انتخاب کنید</p>
                        </div>
                        @if (Model.SendInformationList.Any())
                        {
                            <div class="form-group">
                                <div class="row">
                                    @foreach (var sendInformation in Model.SendInformationList)
                                    {
                                        <div class="col-md-6 col-lg-4 alert show" onclick="fillAddress(@sendInformation.Id)">
                                            <div class="profile-card address">
                                                <h6>@sendInformation.RecipientName</h6>
                                                <p>@sendInformation.Address</p>

                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        }
                        <a class="account-link" onclick="myFunction()">اگر آدرس شما در لیست بالا وجود ندارد، لطفا برای وارد کردن آدرس جدید اینجا کلیک کنید</a>
                        <div id="myDIV">
                            <input type="number" hidden="hidden" class="form-control" asp-for="SendInformation.Id">

                            <input type="text" class="form-control" asp-for="SendInformation.RecipientName" placeholder="نام تحویل گیرنده ...">
                            <span asp-validation-for="SendInformation.RecipientName" class="mt-5" style="color: red; margin-top: 10px"></span>
                            <br />
                            <input type="text" class="form-control" asp-for="SendInformation.Mobile" placeholder="... شماره همراه" dir="ltr">
                            <span asp-validation-for="SendInformation.Mobile" class="mt-5" style="color: red; margin-top: 10px"></span>
                            <input type="text" class="form-control" asp-for="SendInformation.PostalCode" placeholder="... کد پستی" dir="ltr" style="margin-top: 10px">
                            <span asp-validation-for="SendInformation.PostalCode" class="mt-5" style="color: red; margin-top: 10px"></span>
                            <select asp-for="SendInformation.StateId" class="custom-select form-control" id="state" onchange="setCities();" style="margin-top: 10px">
                                @foreach (var state in Model.StateList)
                                {
                                    <option value="@state.Id">@state.Name</option>
                                }
                            </select>
                            <br />
                            <select asp-for="SendInformation.CityId" class="custom-select form-control" id="city">
                                @foreach (var city in Model.CityList)
                                {
                                    <option stateId="@city.StateId" value="@city.Id">@city.Name</option>
                                }
                            </select>
                            <br />
                            <textarea asp-for="SendInformation.Address" class="custom-textarea form-control" placeholder="آدرس شما ..."></textarea>
                            <span asp-validation-for="SendInformation.Address" class="mt-5" style="color: red; margin-top: 10px"></span>
                        </div>
                    </div>


                </div>
                <div class="col-lg-4">

                    <div class="account-card mb-0">
                        <div class="account-title">
                            <h4>گزینه پرداخت</h4>

                        </div>
                        <div class="account-content">
                            <div class="row">
                                <input type="radio" id="sadad" checked="checked" name="Portal" width="100" value="sadad">
                                <div class="payment active">
                                    <img src="/img/payment/sadad.webp" alt="سداد" loading="lazy">
                                </div>
                            </div>
                           @*  <div class="row">
                                <input type="radio" id="zarinpal" checked="checked" name="Portal" width="100" value="zarinpal">
                                <div class="payment active">
                                    <h3>زرین پال</h3>
                                </div>
                            </div> *@
                        </div>
                    </div>
                    <div class="account-card">
                        <div class="checkout-charge">
                            <div class="account-title">
                                <h4>خلاصه سفارش</h4>
                            </div>
                            <ul>
                                <li>
                                    <span>کل </span><span>@Model.SumPrice.ToString("N0")</span><span>تومان</span>
                                </li>
                            </ul>

                            <input type="text" name="discountCode" placeholder="کد تخفیف" class="form-control" id="discountCode" />
                            <br />
                            <div class="row">
                                <button type="button" onclick="CalculateDiscount()" class="btn btn-inline col-md-6"> اعمال کد تخفیف</button>
                                <button type="button" onclick="RemoveDiscount()" class="btn btn-warning col-md-6"> حذف تخفیف</button>
                            </div>

                            <ul>
                                <li>
                                    <span>با تخفیف </span><span id="sumPrice">@Model.SumPrice.ToString("N0")</span><span>تومان</span>
                                </li>
                            </ul>

                            <button type="submit" class="btn btn-inline col-md-12"> <i class="fal fa-credit-card"></i>ثبت سفارش</button>
                        </div>
                        <div class="chekout-coupon">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
@section Scripts
    {
    <script>
        function fillAddress(id) {
            var arrayOfArrays = @Html.Raw(Json.Serialize(Model.SendInformationList));

            var sendInformation = arrayOfArrays.find(obj => {
                return obj.id == id;
            });
            $("#SendInformation_Id").val(sendInformation.id);
            $("#SendInformation_RecipientName").val(sendInformation.recipientName);
            $("#SendInformation_Mobile").val(sendInformation.mobile);
            $("#SendInformation_PostalCode").val(sendInformation.postalCode);
            $("#SendInformation_Address").val(sendInformation.address);
            $("#state").val(sendInformation.stateId);
            setCities();
            $("#city").val(sendInformation.cityId);

        }

        $(document).ready(function () {
            setCities();
        });

        function CalculateDiscount() {
            $.ajax({
                type: "Get",
                url: "/Checkout?handler=Discount&discountCode=" + $("#discountCode").val(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#sumPrice").html(new Intl.NumberFormat().format(response.sumPrice));
                    swal(response.description)
                },
                failure: function (response) {
                    swal(response);
                }

            });
        }

        function RemoveDiscount() {
            $.ajax({
                type: "Get",
                url: "/Checkout?handler=RemoveDiscount",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#sumPrice").html(new Intl.NumberFormat().format(response.sumPrice));
                    $("#discountCode").val('');
                }
            });
        }

        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
}