@page
@model Bolouri.Pages.CheckoutModel
@{
    ViewData["Title"] = "پرداخت";
}

<section class="inner-section single-banner">
    <div class="container">
        <h2>پرداخت</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">پرداخت</li>
        </ol>
    </div>
</section>


<section class="inner-section checkout-part">
    <div class="container">
        <form method="post" asp-page-handler="OnPost">
            <div class="row">
                <div class="col-lg-8">
                   
                        <div class="account-card">
                            <div class="account-title">
                                <h4>نشانی تحویل</h4>
                            </div>

                            @if (Model.SendInformationList.Any())
                            {
                            <div class="account-content">
                                <div class="row">
                                    @foreach (var sendInformation in Model.SendInformationList)
                                    {
                                        <div class="col-md-6 col-lg-4 alert fade show">
                                            <div class="profile-card address active">
                                                <h6>@sendInformation.RecipientName</h6>
                                                <p>@sendInformation.Address</p>
                                                <ul class="user-action">
                                                    <li>
                                                        <button class="edit far fa-pen" title="ویرایش این" data-bs-toggle="modal" data-bs-target="#address-edit"></button>
                                                    </li>
                                                    <li>
                                                        <button class="trash far fa-times" title="حذف این" data-bs-dismiss="alert"></button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>}
                            <input type="text" asp-for="SendInformation.RecipientName" placeholder="نام تحویل گیرنده ...">
                            <input type="text" asp-for="SendInformation.Mobile" placeholder="... شماره همراه" dir="ltr">
                            <input type="text" asp-for="SendInformation.PostalCode" placeholder="... کد پستی" dir="ltr">
                            <select asp-for="SendInformation.StateId" class="custom-select" id="state" onchange="setCities();">
                                @foreach (var state in Model.StateList.ReturnData)
                                {
                                    <option value="@state.Id">@state.Name</option>
                                }
                            </select>

                            <select asp-for="SendInformation.CityId" class="custom-select" id="city">
                                @foreach (var city in Model.CityList.ReturnData)
                                {
                                    <option value="@city.Id">@city.Name</option>
                                }
                            </select>

                            <textarea asp-for="SendInformation.Address" class="custom-textarea" placeholder="آدرس شما ..."></textarea>
                        </div>


                    <div class="account-card mb-0">
                        <div class="account-title">
                            <h4>گزینه پرداخت</h4>
                           
                        </div>
                        <div class="account-content">
                            <div class="row">
                                <div class="col-md-6 col-lg-4 alert fade show">
                                    <div class="payment-card payment active">
                                        <img src="/img/payment/zarinpal.png" alt="زیرین پال">
                                       
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="account-card">
                        <div class="checkout-charge">
                            <div class="account-title">
                                <h4>خلاصه سفارش</h4>
                            </div>
                            <ul>
                              @*  <li>
                                    <span>زیر کل </span><span>250000تومان</span>
                                </li>
                                <li>
                                    <span>هزینه تحویل </span><span>20000تومان</span>
                                </li>
                                <li>
                                    <span>تخفیف</span><span>10000 تومان </span>
                                </li>
                                <li>
                                    <span>مالیات </span><span>15000 تومان</span>
                                </li>*@
                                <li>
                                    <span>کل </span><span>@Model.SumPrice تومان</span>
                                </li>
                            </ul>
                        </div>
                        @*<div class="checkout-proced">
                            <a asp-area="" asp-page="/Invoice" class="btn btn-inline">تهیه شده برای پرداخت</a>
                        </div>*@
                        <div class="chekout-coupon">
                            <button type="submit"> <i class="fal fa-credit-card"></i>ثبت سفارش</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
<script>
    function setCities() {
        var stateId = $('#state').val();
        $.ajax({
            type: "Get",
            url: "Checkout?handler=CityLoad&id=" + stateId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(result) {
                $("#city").html(result);
            },
            failure: function(response) {
                alert(response);
            }
        });

    }
</script>
}