@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ECommerce.Front.BolouriGroup.Pages.CheckoutModel
@{
    ViewData["Title"] = "پرداخت";
}

<section class="inner-section single-banner">
    <div class="container">
        <h2>پرداخت</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">پرداخت</li>
        </ol>
    </div>
</section>


<section class="inner-section checkout-part">
    <div class="container">
          @if (Model.Message != null)
        {
            switch (Model.Code)
            {
                case "Error":
                    <div class="alert alert-danger"> @Model.Message </div>
                    break;
                case "Warning":
                    <div class="alert alert-warning"> @Model.Message </div>
                    break;
                case "Info":
                    <div class="alert alert-info"> @Model.Message </div>
                    break;
                default:
                    <div class="alert alert-success"> @Model.Message </div>
                    break;
            }

            Model.Message = null;
            Model.Code = null;
        }
        <form method="post" asp-page-handler="OnPost">
            <div class="row">
                <div class="col-lg-8">

                    <div class="account-card">
                        <div class="account-title">
                            <h4>نشانی تحویل</h4>
                        </div>

                        @if (Model.SendInformationList.Any())
                        {
                            <div class="form-group">
                                <div class="row">
                                    @foreach (var sendInformation in Model.SendInformationList)
                                    {
                                        <div class="col-md-6 col-lg-4 alert show" onclick="fillAddress(@sendInformation.Id)">
                                            <div class="profile-card address active">
                                                <h6>@sendInformation.RecipientName</h6>
                                                <p>@sendInformation.Address</p>
                                         
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        }
                        <input type="number" hidden="hidden"  class="form-control" asp-for="SendInformation.Id">
                        <input type="text" class="form-control" asp-for="SendInformation.RecipientName" placeholder="نام تحویل گیرنده ...">
                        <span asp-validation-for="SendInformation.RecipientName" class="mt-5" style="color: red; margin-top: 10px"></span>
                        <br />
                        <input type="text" class="form-control" asp-for="SendInformation.Mobile" placeholder="... شماره همراه" dir="ltr">
                        <span asp-validation-for="SendInformation.Mobile" class="mt-5" style="color: red; margin-top: 10px"></span>
                        <input type="text" class="form-control" asp-for="SendInformation.PostalCode" placeholder="... کد پستی" dir="ltr" style="margin-top: 10px">
                        <span asp-validation-for="SendInformation.PostalCode" class="mt-5" style="color: red; margin-top: 10px"></span>
                        <select asp-for="SendInformation.StateId" class="custom-select form-control" id="state" onchange="setCities();" style="margin-top: 10px">
                            @foreach (var state in Model.StateList)
                            {
                                <option value="@state.Id">@state.Name</option>
                            }
                        </select>
                        <br />
                        <select asp-for="SendInformation.CityId" class="custom-select form-control" id="city">
                            @foreach (var city in Model.CityList)
                            {
                                <option value="@city.Id">@city.Name</option>
                            }
                        </select>
                        <br />
                        <textarea asp-for="SendInformation.Address" class="custom-textarea form-control" placeholder="آدرس شما ..."></textarea>
                    </div>


                </div>
	            <div class="col-lg-4">
                    
		            <div class="account-card mb-0">
			            <div class="account-title">
				            <h4>گزینه پرداخت</h4>

			            </div>
			            <div class="account-content">
				            <div class="row">
                                <input type="radio" id="sadad" checked="checked" name="Portal" width="100" value="sadad">
						            <div class="payment active">
							            <img src="/img/payment/sadad.png" alt="سداد">
						            </div>


					            </div>
			            </div>
		            </div>
		            <div class="account-card">
			            <div class="checkout-charge">
				            <div class="account-title">
					            <h4>خلاصه سفارش</h4>
				            </div>
				            <ul>
					            <li>
						            <span>کل </span><span>@Model.SumPrice تومان</span>
					            </li>
				            </ul>
			            </div>
			            <div class="checkout-proced">
				            <button type="submit" class="btn btn-inline"> <i class="fal fa-credit-card"></i>ثبت سفارش</button>
			            </div>
			            <div class="chekout-coupon">
			            </div>
		            </div>
	            </div>
            </div>
        </form>
    </div>
</section>
@section Scripts
{
    <script>
        function setCities() {
            var stateId = $('#state').val();
            $.ajax({
                type: "Get",
                url: "Checkout?handler=CityLoad&id=" + stateId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(result) {
                    $("#city").html(result);
                },
                failure: function(response) {
                    alert(response);
                }
            });

        }
    </script>
}