@page
@model Bolouri.Pages.CompareModel
@{
    ViewData["Title"] = "مقایسه کنید";
}

<section class="inner-section single-banner">
    <div class="container">
        <h2>مقایسه کنید</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">مقایسه کنید</li>
        </ol>
    </div>
</section>
<section class="inner-section compare-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-scroll">
                    <table class="table-list">
                        <thead>
                            <tr>
                                <th scope="col">تصویر محصول</th>
                                <th scope="col">نام</th>
                                <th scope="col">قیمت</th>
                                <th scope="col">نام تجاری</th>
                                <th scope="col">توضیحات</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var compare in Model.CompareProducts)
                            {
                                <tr>
                                    <td class="table-image">
                                        <img src="~/@compare.ImagePath" alt="@compare.Alt">
                                    </td>
                                    <td class="table-name"><h6>@compare.Name</h6></td>
                                    <td class="table-price">
                                        
                                    </td>
                                    <td class="table-vendor"><a href="#">@compare.Brand</a></td>
                                    <td class="table-status">@Html.Raw(@compare.Description)</td>
                                    <td class="table-action">
                                        <a class="wish" href="javascript:void(0)" onclick="AddWishList(@compare.Id)" title="افزودن به لیست علاقه مندی ها">
                                            <i class="far fa-heart"></i>
                                        </a>
                                        <a href="javascript:void(0)" onclick="DeleteCompare(@compare.Id)" title="حذف">
                                            <i class="far fa-window-close"></i>
                                        </a>
                                        @*  <a href="javascript:void(0)" class="delete" onclick="DeleteCompare(@product.Id)">
                                    <i class="far fa-closed-captioning"></i>
                                    </a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


