@page
@model ECommerce.Front.BolouriGroup.Pages.CompareModel
@{
    ViewData["Title"] = "مقایسه کنید";
    var singlePrice = Model.CompareProduct.Prices.OrderBy(p => p.Amount).FirstOrDefault(x => !x.IsColleague && x.Exist > 0);
}

<section class="inner-section single-banner">
    <div class="container">
        <h2>مقایسه کنید</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">مقایسه کنید</li>
        </ol>
    </div>
</section>
<section class="inner-section compare-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <button onclick="ShowModal();" style="display:'block'" class="btn btn-inline">
                        انتخاب محصولات مشابه
                    </button>
                </div>
                <br />
                <div>
                    <div>
                        <table class="table-list" id="tblCompair">
                            <thead>
                                <tr style="background-color: #9EC9D4" id="compareTablehead">
                                    <th scope="col"></th>
                                    <th scope="col">
                                        <a class="product-image" href="/product/@Model.CompareProduct.Url.Trim()">
                                            <img style="width: 150px" src="~/@Model.CompareProduct.ImagePath" alt="@Model.CompareProduct.Alt" />
                                        </a>
                                        <div>
                                            <a title="مشاهده محصول" asp-area="" asp-page="Product" asp-route-productUrl="@Model.CompareProduct.Url.Trim()">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </div>
                                        <h3 style="font-size: 12px">@Model.CompareProduct.Name</h3>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="compareTableBody">
                                <tr hidden="hidden">
                                    <th hidden="hidden">Id</th>
                                    <td hidden="hidden">@Model.CompareProduct.Id</td>
                                </tr>
                                <tr>
                                    <th id="amount" style="text-align:right; width: 20%">مبلغ</th>
                                    <td>
                                        @{
                                            decimal? discount = 0;
                                            decimal? amount = 0;
                                            decimal? discountAmount = 0;

                                            if (singlePrice != null)
                                            {
                                                amount = singlePrice.Amount;


                                                if (singlePrice.Discount != null)
                                                    if (singlePrice.Discount.Amount > 0)
                                                    {
                                                        discount = (decimal)singlePrice.Discount.Amount;
                                                    }
                                                    else if (singlePrice.Discount.Percent > 0)
                                                    {
                                                        discount = singlePrice.Amount * (decimal)singlePrice.Discount.Percent / 100;
                                                    }
                                                discountAmount = amount - discount;
                                            }

                                        }
                                        @if (singlePrice == null)
                                        {
                                            <h6 class="feature-price">ناموجود</h6>
                                        }
                                        else
                                        {
                                            @if (discount > 0)
                                            {
                                                <div>
                                                    <del>@amount?.ToString("###,###,###,###") تومان</del>
                                                </div>
                                            }
                                            <h6>@discountAmount?.ToString("###,###,###,###") تومان</h6>

                                        }
                                    </td>
                                </tr>
                                @for (var g = 0; g < Model.CompareProduct.AttributeGroupProducts.Count; g++)
                                {
                                    @for (var i = 0; i < Model.CompareProduct.AttributeGroupProducts[g].Attribute.Count; i++)
                                    {
                                        <tr>
                                            <th style="width: 20%">@Model.CompareProduct.AttributeGroupProducts[g].Attribute[i].Title</th>
                                            @if (Model.CompareProduct.AttributeGroupProducts[g].Attribute[i].AttributeValue.Count != 0)
                                            {
                                                <td> @Model.CompareProduct.AttributeGroupProducts[g].Attribute[i].AttributeValue[0].Value</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- The Modal -->
<div class="modal" id="compairModal">
    <div class="modal-dialog modal-dialog-scrollable" style="background-color:white">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">لیست محصولات</h3>
            </div>
            <div class="modal-body" id="modalTable">
                <div class="row row-cols-3">
                    @if (Model.ProductsList != null)
                    {
                        foreach (var product in Model.ProductsList)
                        {
                            <partial name="Components/_compareProductCard" model="product" />
                        }
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closemodal" class="btn btn-danger" data-dismiss="modal" onclick="document.getElementById('compairModal').style.display='none'">خروج</button>
            </div>

        </div>
    </div>
</div>
@section Scripts{
<script>

    var myList = new Array();
    var nullProducts = '@(Model.ProductsList == null ? "isNull" : "notNull")';
    function ShowModal(){
        if(nullProducts == 'notNull'){
            var emptyProducts = '@(Model.ProductsList?.Count() == 0 ? "isNull" : "notNull")';
            if(emptyProducts == 'notNull'){
                var counter = document.getElementById('tblCompair').rows[0].cells.length;
                if(counter < 5){
                    var modal = new bootstrap.Modal('#compairModal');
                    modal.show();
                    counter = counter+1;
                }
                else{
                    swal('امکان مقایسه بیش از چهار کالا نمی باشد')
                }
            }
            else{
                 swal('محصولی برای مقایسه موجود نمی باشد')
            }
        }
        else{
             swal('محصولی برای مقایسه موجود نمی باشد')
        }
    }
    $('#closemodal').click(function() {
        $('#compairModal').modal('hide');
    });
    function AddModalProduct(id,price){
        const products = @Html.Raw(Json.Serialize(Model.ProductsList));
        const product = products.find(x => x.id == id);
        const attributeGroupProductsCount = product.attributeGroupProducts.length;
        //
        var tableHead = document.getElementById('compareTablehead');
        var thTag = document.createElement('th');
        thTag.scope = "col";
        var aTag = document.createElement('a');
        aTag.className = "product-image";
        aTag.href = "/product/"+product.url;
        var imgTag = document.createElement('img');
        imgTag.style = "width: 150px";
        imgTag.src = product.imagePath ;
        aTag.appendChild(imgTag);
        var hTag = document.createElement('h3');
        hTag.style = "font-size: 12px";
        hTag.innerHTML = product.name;
        //div
        var divTag = document.createElement('div');
        var aCartDivTag = document.createElement('a');
        aCartDivTag.title = "مشاهده محصول";
        aCartDivTag.href = "/product/"+product.url;
        var iCartDivTag = document.createElement('i');
        iCartDivTag.className = "far fa-eye";
        aCartDivTag.appendChild(iCartDivTag);
        var aRemoveDivTag = document.createElement('a');
        aRemoveDivTag.title = "حذف";
        aRemoveDivTag.onclick = function() {RemoveFromTable(product.id);}
        var iRemoveDivTag = document.createElement('i');
        iRemoveDivTag.className = "far fa-window-close";
        aRemoveDivTag.appendChild(iRemoveDivTag);
        divTag.append(aCartDivTag,aRemoveDivTag);
        //end div
        thTag.append(aTag,divTag,hTag);
        tableHead.appendChild(thTag);
        //
        $(":contains('Id')")
            .filter(function(index)
            {
                return $(this).text() === "Id";
            })
            .closest('tr')
            .append('<td hidden="hidden" >col_'+ product.id +'</td>').end();
        //درج مبلغ
         $('#amount')
            .closest('tr')
            .append('<td>'+ (new Intl.NumberFormat().format(price)) + " تومان" +'</td>').end();
        for (var g = 0; g < attributeGroupProductsCount; g++){
            for (let i = 0; i < product.attributeGroupProducts[g].attribute.length; i++){
                try {
                    $("th").filter(function(index)
                    {
                        return $(this).text() === product.attributeGroupProducts[g].attribute[i].title;
                    })
                    .closest('tr')
                    .append('<td>'+ product.attributeGroupProducts[g].attribute[i].attributeValue[0].value +'</td>').end();
                }
                catch{
                    $("th").filter(function(index)
                    {
                        return $(this).text() === product.attributeGroupProducts[g].attribute[i].title;
                    })
                    .closest('tr')
                    .append('<td></td>').end();
                }
             }
        }
        myList.push(product.id);
        $("#modalTable").find("h1:contains('col_"+product.id+"')").closest('div').hide();
        document.getElementById('closemodal').click();
    }
    function RemoveFromTable(value){
        var col = $("#tblCompair").find("td:contains('col_"+value+"')").prevAll().length;
        console.log(col);
        $("#tblCompair").find('tr').each(function() {
            this.removeChild(this.cells[col]);
        });
        var index = myList.indexOf(value);
        if (index > -1) {
            myList.splice(index, 1);
             $("#modalTable").find("h1:contains('col_"+value+"')").closest('div').show();
        }
    }
</script>
}