@page "{handler?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "خانه";
}
<link href="~/Banner.css" rel="stylesheet" type="text/css" />

<section class="home-classic-slider slider-arrow">

    @{
        var i = 1;
    }
    @if (Model.SlideShowViewModels != null)
    {
        @foreach (var slide in Model.SlideShowViewModels)
        {
            var id = $"slider-direction-{i}";
            var classStr = $"slider-content-{(i % 2 == 1 ? "1" : "2")}";
            var imageClass = i % 2 == 0 ? "layer-2-1" : "";
            i++;

            if (slide.Product != null)
            {
                <a asp-area="" asp-page="Product" asp-route-productUrl="@slide.Product.Url">
                    <div class="banner-img" style="z-index: -1;">
                        <img src=@slide.ImagePath alt="@slide.Product.Name" style="width: 1920px; height: 790px; justify-content: center !important">
                    </div>
                </a>
            }
            else
            {
                if (slide.Category != null)
                {
                    <a asp-area="" asp-page="Shop" asp-route-path="@slide.Category.Path">
                        <div class="banner-img" style="z-index: -1;">
                            <img src=@slide.ImagePath alt="@slide.Category.Name" style="width: 1920px; height: 790px; justify-content: center !important">
                        </div>
                    </a>
                }
            }
        }
    }
</section>
<section class="section recent-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>موارد پرطرفدار</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            @foreach (var starProduct in Model.StarProducts)
            {
                <partial name="Components/_productCard" model="starProduct" />
            }

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-btn-25">
                    <a asp-area="" asp-page="/Shop" asp-route-productSort="2" class="btn btn-inline">
                        <span> بیشتر ببینید </span> <i class="far fa-long-arrow-left float-end ms-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section promo-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="promo-img">
                            <a href="/Shop/Coffee/shop/equipment/Tool"><img src="~/images/banner/1.jpg" alt="ابزار و لوازم بار گرم"></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="promo-img">
                            <a href="/Shop/Refrigeration/food-storage/Hot"><img src="~/images/banner/2.jpg" alt="تجهیزات نگهداری گرم"></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="promo-img">
                            <a href="/Shop/ Catering/Containers/Metal/Cast-iron"><img src="~/images/banner/3.jpg" alt="ظروف سرو فلزی"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section feature-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>موارد برجسته</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
            @foreach (var expensiveProducts in Model.ExpensiveProducts)
            {
                <partial name="Components/_productDetailsCart" model="expensiveProducts" />
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-btn-25">
                    <a asp-area="" asp-page="/Shop" asp-route-productSort="4" class="btn btn-inline">
                        <span> بیشتر ببینید </span> <i class="far fa-long-arrow-left float-end ms-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section suggest-part">
    <div class="container">
        <ul class="suggest-slider slider-arrow">
            @foreach (var brand in Model.Brands)
            {
                <li>
                    <a class="suggest-card" asp-area="" asp-page="/Shop" asp-route-search="BrandId=@brand.Id">
                        <img src="@brand.ImagePath" alt=@brand.Name>

                    </a>
                </li>
            }
        </ul>
    </div>
</section>
<section class="section visual-part">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="visual-wrap">
                    <div class="visual-icon">
                        <i class="fal fa-truck-moving"></i>
                    </div>
                    <div class="visual-content">
                        <h5>تحویل اکسپرس</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="visual-wrap">
                    <div class="visual-icon">
                        <i class="fal fa-headset"></i>
                    </div>
                    <div class="visual-content">
                        <h5>پشتیبانی سریع</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="visual-wrap">
                    <div class="visual-icon">
                        <i class="fal fa-check"></i>
                    </div>

                    <div class="visual-content">
                        <h5>تضمین کیفیت</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="visual-wrap">
                    <div class="visual-icon">
                        <i class="fal fa-file-contract"></i>
                    </div>
                    <div class="visual-content">
                        <h5>ضمانت اصالت کالا</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section blog-part">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>آخرین خبرها</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.Blogs.Code > 0)
            {
                <h3>هنوز خبری منتشر نشده</h3>
            }
            else
            {
                foreach (var blogViewModel in Model.Blogs.ReturnData)
                {
                    <div class="col-lg-4 col-sm-6">
                        <partial name="Components/_blogCard" model="blogViewModel" />
                    </div>
                }

            }
        </div>
    </div>
</section>