@page "/invoice"
@model ECommerce.Front.BolouriGroup.Pages.InvoiceModel
@{
    ViewData["Title"] = "فاکتور سفارش";
}

<section class="inner-section single-banner">
    <div class="container">
        <h2>فاکتور سفارش</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">فاکتور سفارش</li>
        </ol>
    </div>
    <a class="btn btn-block btn-info" asp-page-handler="FactorPrint">چاپ فاکتور</a>
</section>

<a class="btn btn-block btn-info" asp-page-handler="FactorPrint">چاپ فاکتور</a>
<input name="myHiddenInput" id="myHiddenInput" value="@Model.OrderId" />
<h2 style="color: rebeccapurple;text-align: center" >@Model.Refid</h2>
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
    Model.Code = null;
}
<section class="inner-section invoice-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>خلاصه سفارش (@Model.PurchaseOrder.OrderGuid)</h4>
                    </div>
                    <div class="account-content">
                        <div class="invoice-recieved">
                            <h6>شناسه سفارش <span>@Model.PurchaseOrder.OrderGuid</span></h6>
                            <h6>شماره پیگیری <span>@Model.SystemTraceNo</span></h6>
                            <h6>تاریخ سفارش <span>@Model.PurchaseOrder.CreationDate.ToFa() </span></h6>
                            <h6>مبلغ کل <span>@Model.PurchaseOrder.Amount تومان</span></h6>
                            <h6><span> روش پرداخت</span><span>درگاه بانکی</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="account-card">
                    <div class="account-title">
                        <h4>جزئیات سفارش</h4>
                    </div>
                    <div class="account-content">
                        <ul class="invoice-details">
                            <li>
                                <h6>کل مورد</h6>
                                <p>@Model.PurchaseOrder.PurchaseOrderDetails.Count() مورد</p>
                            </li>
                            <li>
                                <h6>زمان سفارش</h6>
                                <p>@Model.PurchaseOrder.CreationDate.ToString("HH:m")</p>
                            </li>
                            <li>
                                <h6>نشانی تحویل</h6>
                                <p>@Model.PurchaseOrder.SendInformation!.Address</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="account-card">
                    <div class="account-title">
                        <h4>جزئیات مقدار</h4>
                    </div>
                    <div class="account-content">
                        <ul class="invoice-details">
                            <li>
                                <h6>زیر کل</h6>
                                <p>@Model.PurchaseOrder.Amount تومان</p>
                            </li>
                            <li>
                                <h6>تخفیف</h6>
                                <p>0 تومان</p>
                            </li>
                            <li>
                                <h6>مالیات</h6>
                                <p>0 تومان</p>
                            </li>
                            <li>
                                <h6>روش پرداخت</h6>
                                <p>درگاه بانکی</p>
                            </li>
                            <li>
                                <h6>جمع</h6>
                                <p>@Model.PurchaseOrder.Amount.ToString("N0") تومان</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="table-scroll">
                    <table class="table-list">
                        <thead>
                            <tr>
                                <th scope="col">ردیف</th>
                                <th scope="col">نام</th>
                                <th scope="col">قیمت</th>
                                <th scope="col">تعداد</th>
                                <th scope="col">جمع</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var (product, index) in Model.PurchaseOrder.PurchaseOrderDetails.Select((value, i) => (value, i)))
                            {
                                <tr>
                                    <td class="table-price">
                                        @index++
                                    </td>
                                    <td class="table-name">
                                        <h6>@product.Name</h6>
                                    </td>
                                    <td class="table-price">
                                        <h6>@product.Price?.Amount.ToString("###,###,###") تومان </h6>
                                    </td>
                                    <td class="table-price">
                                        <h6>@product.Quantity</h6>
                                    </td>
                                    <td class="table-price">
                                        <h6>@product.SumPrice.ToString("N0")</h6>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>


