@page
@model ECommerce.Front.BolouriGroup.Pages.RegisterModel
@{
    ViewData["Title"] = "ثبت نام";
}

@section Head{
    <link href="~/css/shop.css" rel="stylesheet" />
}
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-5">
                <div class="user-form-logo">
                    <a asp-area="" asp-page="/Index">
                        <img src="~/img/logo.webp" alt="لوگو" width="250" height="117" loading="lazy">
                    </a>
                </div>
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>ایجاد حساب!</h2>
                        <p>حساب خود را به صورت رایگان ثبت کنید</p>
                    </div>
                    <form method="post" asp-page-handler="Register" class="user-form">
                        <div class="row">
                            <ul class="nav nav-tabs" role="tablist" style="margin-right: 10%">
                                <li class="nav-item form-check active">
                                    <a onclick="IsColleague(false)" class="nav-link" data-toggle="tab" href="#home" style="text-decoration: none">شخصی  </a>
                                </li>
                                <li class="nav-item form-check">
                                    <a onclick="IsColleague(true)" class="nav-link" data-toggle="tab" href="#menu1">مجموعه</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row tab-content" style="margin-right: 0;margin-left: 0">
                            <div id="home" class="container tab-pane form-group active">
                                <input type="text" placeholder="نام" asp-for="RegisterViewModel.FirstName" class="form-control">
                                <span asp-validation-for="RegisterViewModel.FirstName" style="color: red"></span>
                                <br />
                                <input type="text" placeholder="نام خانوادگی" asp-for="RegisterViewModel.LastName" class="form-control">
                                <span asp-validation-for="RegisterViewModel.LastName" style="color: red"></span>
                                <br />
                                <input type="tel" maxlength="10" placeholder="کد ملی" dir="ltr" asp-for="RegisterViewModel.NationalCode" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '')">                                
                                <span asp-validation-for="RegisterViewModel.NationalCode" style="color: red"></span>
                            </div>
                              
                            <div id="menu1" class="container tab-pane form-group">
                                <span asp-validation-for="RegisterViewModel.Name"></span>
                                <input type="text" placeholder="نام شرکت" asp-for="RegisterViewModel.CompanyName" class="form-control">
                                <br />
                                <select asp-for="RegisterViewModel.CompanyType" class="form-select">
                                    <option value="10">رستوران</option>
                                    <option value="11">کافی شاپ</option>
                                    <option value="9">هتل</option>
                                    <option value="16">تالار</option>
                                    <option value="21">شرکت</option>
                                    <option value="15">فروشگاه</option>
                                </select>
                            </div>
                        </div>

                        <select asp-for="RegisterViewModel.StateId" class="custom-select form-control" id="state" onchange="setCities();" style="margin-top: 10px;color: gray">
                            @foreach (var state in Model.StateList)
                            {
                                <option value="@state.Id">@state.Name</option>
                            }
                        </select>
                        <br />
                        <select asp-for="RegisterViewModel.CityId" class="custom-select form-control" id="city" style="color: gray">
                            @foreach (var city in Model.CityList)
                            {
                                <option stateId="@city.StateId" value="@city.Id">@city.Name</option>
                            }
                        </select>
                        <br />
	                       <input type="tel" maxlength="11" id="userName" placeholder="شماره همراه 09xxxxxxxxx" dir="ltr" asp-for="RegisterViewModel.Mobile" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '')">                           
                           @* <div class="form-group">                          
                              <input type="button" style="background-color:ButtonFace" id="sendSmsButton" value="دریافت رمز یکبار مصرف" onclick="SendRegisterConfirmSms()" />
                        </div>*@
                         <div class="form-group">
                            <span asp-validation-for="RegisterViewModel.ConfirmCode" style="color: red"></span>
                            <input type="text" readonly="readonly" placeholder="کد تایید پیامک شده را وارد نمایید" dir="ltr" asp-for="RegisterViewModel.ConfirmCode" class="form-control">
                        </div>
                        
                        <div class="input-group" id="show_hide_password1">
                            <input class="form-control" type="password" asp-for="RegisterViewModel.Password" onkeyup="CheckPassword()" placeholder="رمز عبور" dir="ltr">
                            <div class="input-group-addon">
                                <a href="" style="color: #0d6efd"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <span asp-validation-for="RegisterViewModel.Password" style="color: red"></span>
                        <span id="passwordHintId" style="color: red">لطفا فقط انگلیسی! حداقل 8 حداکثر 30 کاراکتر و حتما باید از حروف انگلیسی، عدد و حروف خاص (...#$%^&*) استفاده شده باشد</span>

                        <div class="input-group" id="show_hide_password">
                            <input type="password" placeholder="تکرار رمز عبور" dir="ltr" asp-for="RegisterViewModel.ConfirmPassword" class="form-control">
                            <div class="input-group-addon">
                                <a href="" style="color: #0d6efd"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <span asp-validation-for="RegisterViewModel.ConfirmPassword" style="color: red"></span>
                        <div class="form-check mb-3">
                            <input type="checkbox" asp-for="RegisterViewModel.IsRole" class="form-check-input" id="agree" style="width: 18px; height: 18px; visibility: inherit; position: sticky">
                            <label class="form-check-label" for="agree">
                                با <a asp-area="" asp-page="/Rules" style="color: black">قوانین و مقررات</a> موافقم.
                            </label>
                        </div>
                        
                        <input id="IsColleagueId" asp-for="RegisterViewModel.IsColleague" hidden="hidden"/>
                        <div class="form-button">
                            <button id="registerSubmit" type="submit">
                                ایجاد حساب کاربری
                            </button>
                            <p>قبلاً حساب دارید؟ <a asp-area="" asp-page="/Login">ورود.</a></p>
                        </div>
                    </form>
                    
                </div>
                <div class="user-form-footer">
                    <p> &copy; 2021 - Boloori - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
    {
    <script>
        function IsColleague(isColleague) {
            $("#IsColleagueId").prop("checked", isColleague);
        }

        $(document).ready(function () {
            setCities();
        });

        function SendRegisterConfirmSms() {
        username = document.getElementById("userName").value;;
        $.ajax({
            type: "Get",
            url: "/register?handler=SendSms&username=" + username,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                if (result.status == 1) {                    
                    swal("پیامک با موفقیت ارسال شد");
                };
                 if (result.status != 1) {
                    swal("خطا در انجام عملیات.پیامک ارسال نشد");
                };
               
            }
            
         });
        }
        //$(document).ready(function () {
        //    $('input').change(function () {
        //        var filter = $(this).val();
                
        //    })
        //})
     
    </script>
}
