@page "{**path}"
@model ECommerce.Front.BolouriGroup.Pages.ShopModel
@{
    ViewData["Title"] = "فروشگاه";
}

@section Head{
    <link href="~/css/shop.css" rel="stylesheet" />
}

<section class="inner-section single-banner">
    <div class="container">
        <h2>لیست کالا</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">لیست کالا</li>
        </ol>
    </div>
</section>

<section class="inner-section shop-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-1 order-lg-0">
                <div class="shop-widget shop-widget-category">
                    <h6 class="shop-widget-title">دسته بندی</h6>
                    @await Component.InvokeAsync("CategoriesList")
                    <h6 class="shop-widget-title">فیلتر</h6>
                        <form asp-page-handler="OnGet" method="get">
                        <label for="min-price" class="form-label  mt-3">حداقل قیمت (تومان) </label><br />
                        <span id="min-price-txt">@Model.Min</span>
					    <input type="range" class="form-range" min="100000" max="200000000" id="min-price" name="minprice" step="100000" value="@Model.Min">
                        <label for="max-price" class="form-label">حداکثر قیمت (تومان) </label><br/>
					    <span id="max-price-txt">@Model.Max</span>
					    <input type="range" class="form-range" min="1000000" max="200000000" id="max-price" name="maxprice" step="100000" value="@Model.Max">
                        <br/>
                        <label class="widget-title border-left" style="font-size:14px">فقط نمایش کالاهای موجود</label>
                        <label class="switch">
                            <input type="checkbox" name="isCheckExist" value="true" @if(@Model.IsCheckExist){
                                                                                    <text>checked</text>}/>
                            <span class="slider round"></span>
                        </label><br />
                        <label class="widget-title border-left" style="font-size:14px">مرتب سازی :</label>
						    <select name="ProductSort" id="ProductSort" value="@Model.ProductSort">
							    @{
								    bool sel1 = false;
								    bool sel2 = false;
								    bool sel3 = false;
								    bool sel4 = false;
								    if (Model.ProductSort == 1) sel1 = true;
								    if (Model.ProductSort == 2) sel2 = true;
								    if (Model.ProductSort == 3) sel3 = true;
								    if (Model.ProductSort == 4) sel4 = true;
							    }
							    <option value="1" selected=@sel1>
								    جدیدترین ها
							    </option>
							    <option value="2" selected=@sel2>
								    محبوب ترین ها
							    </option>							
							    <option value="3" selected=@sel3>   
								    ارزان ترین ها
							    </option>
							    <option value="4" selected=@sel4>
								    گران ترین ها
							    </option>
						    </select>									
                        <br/>

					    <input name="pageSize" value="@Model.Products.PaginationDetails.PageSize" hidden="hidden" />
					    <input name="search" value="@Model.Products.PaginationDetails.Search" hidden="hidden" />
                        <div class="form-button">
                            <button type="submit" class="submit-btn-1 black-bg btn-hover-2"
                                    style="margin-top: 20px">
                                اعمال
                            </button>
                        </div>       
                    </form>
                </div>
            </div>
            <div class="col-lg-9 order-0 order-lg-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop-filter">
                            @{
                                var startNumber = (Model.Products.PaginationDetails.CurrentPage - 1) * Model.Products.PaginationDetails.PageSize + 1;
                                var endNumber = Model.Products.PaginationDetails.CurrentPage * Model.Products.PaginationDetails.PageSize;
                                var total = Model.Products.PaginationDetails.TotalCount;
                                if (endNumber > total) endNumber = total;
                            }
                            <div class="shop-filter-desktop">
                                <p>نمایش @startNumber - @endNumber از @total نتیجه</p>                               
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4">
                    @if (Model.Products != null)
                    {
                        foreach (var product in Model.Products.ReturnData)
                        {
                            <partial name="Components/_productCard" model="product" />
                        }
                    }
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            <partial name="_Pagination" model="@Model.Products.PaginationDetails" />
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        window.onload = function () {
            min_price = parseInt($("#min-price").val());
            var minPrice = min_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $("#min-price-txt").text(minPrice);

            max_price = parseInt($("#max-price").val());
            var maxPrice = max_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $("#max-price-txt").text(maxPrice);
        };

        $("#min-price").on("change mousemove", function () {
            min_price = parseInt($("#min-price").val());
            var minPrice = min_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $("#min-price-txt").text(minPrice);
        });

        $("#max-price").on("change mousemove", function () {
            max_price = parseInt($("#max-price").val());
            var maxPrice = max_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $("#max-price-txt").text(maxPrice);
        });

        $(document).ready(function () {
            var search = @Html.Raw(Json.Serialize(Model.Search));
            $("#searchBox").val(search);
        });
    </script>
}