@page "{**path}"
@model ECommerce.Front.BolouriGroup.Pages.ShopModel
@{
    ViewData["Title"] = "فروشگاه";
}

@section Head{
    <link href="~/css/stars.css" rel="stylesheet" />
    <link href="~/css/shop.css" rel="stylesheet" />
}
<section class="inner-section single-banner">
    <div class="container">
        <h2>لیست کالا</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">لیست کالا</li>
        </ol>
    </div>
</section>


<section class="inner-section shop-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-1 order-lg-0">
                <div class="shop-widget shop-widget-category">
                    <h6 class="shop-widget-title">دسته بندی</h6>
                    @await Component.InvokeAsync("CategoriesList")
                </div>
                <form asp-page-handler="OnGet" method="get">

                    <div class="shop-widget shop-widget-price">
                        <h6 class="shop-widget-title">حدود قیمت</h6>

                        <label for="min-price" class="form-label" style="margin-top: 20px">حداقل قیمت (تومان) </label><br />
                        <span id="min-price-txt">@Model.Min</span>
                        <input type="range" class="form-range" min="100000" max="200000000" id="min-price" name="minprice" step="100000" value="@Model.Min">
                        <label for="max-price" class="form-label">حداکثر قیمت (تومان) </label><br />
                        <span id="max-price-txt">@Model.Max</span>
                        <input type="range" class="form-range" min="1000000" max="200000000" id="max-price" name="maxprice" step="100000" value="@Model.Max">
                        <br />
                        <h6 class="widget-title border-left mb-20">فقط نمایش کالاهای موجود</h6>
                        <label class="switch">
                            <input type="checkbox" name="isExist" value="true" @if (@Model.IsExist)
                            {
                                <text>checked</text>
                            }>
                            <span class="slider round"></span>
                        </label>
                        <input name="pageSize" value="@Model.Products.PaginationDetails.PageSize" hidden="hidden" />
                        <input name="search" value="@Model.Products.PaginationDetails.Search" hidden="hidden" />
                        <br/>
                        <button type="submit" class="submit-btn-1 black-bg btn-hover-2"
                                style="margin-top: 20px">
                            اعمال
                        </button>
                    </div>
                 
                  @*  <div class="shop-widget shop-widget-brand">
                        <h6 class="shop-widget-title">مارک های تجاری</h6>
                        <ul class="shop-widget-list shop-widget-scroll">
                            @{
                                var count = false;
                            }
                            @foreach (var brand in Model.Brands)
                            {
                                @if (count)
                                {
                                    <li>
                                        <div class="shop-widget-content">
                                            <div class="form-check">
                                                <input class="form-check-input brandCheckBox" type="checkbox" value="brandid=@brand.Key" id="brand_@brand.Key">
                                                <label class="form-check-label" for="brand_@brand.Key">@brand.Value</label>
                                            </div>
                                        </div>
                                    </li>
                                }
                                count = true;
                            }

                        </ul>
                        <input name="search" hidden="hidden" id="searchInputId"/>
                        <button type="submit" class="submit-btn-1 black-bg btn-hover-2"
                                style="margin-top: 20px">
                            اعمال
                        </button>
                    </div>*@
                </form>
            </div>
            <div class="col-lg-9 order-0 order-lg-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop-filter">
                            @{
                                var startNumber = (Model.Products.PaginationDetails.CurrentPage - 1) * Model.Products.PaginationDetails.PageSize + 1;
                                var endNumber = Model.Products.PaginationDetails.CurrentPage * Model.Products.PaginationDetails.PageSize;
                                var total = Model.Products.PaginationDetails.TotalCount;
                                if (endNumber > total) endNumber = total;
                            }
                            <div class="shop-filter-desktop">
                                <p>نمایش @startNumber - @endNumber از @total نتیجه</p>

                                <a asp-page="/Shop" asp-route-productSort="1">مرتب سازی بر اساس جدیدترین</a>_
                                <a asp-page="/Shop" asp-route-productSort="2">پرطرفدارها</a>_
                                <a asp-page="/Shop" asp-route-productSort="3">قیمت پایین به بالا</a>_
                                <a asp-page="/Shop" asp-route-productSort="4">قیمت بالا به پایین</a>
                            </div>
                            <div class="shop-filter-mobile">
                                <div class="dropdown">
                                    <button class=" dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        مرتب سازی بر اساس
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <a class="dropdown-item" type="button" asp-page="/Shop" asp-route-productSort="1">جدیدترین</a>
                                        <a class="dropdown-item" type="button" asp-page="/Shop" asp-route-productSort="2">پرطرفدارها</a>
                                        <a class="dropdown-item" type="button" asp-page="/Shop" asp-route-productSort="3">قیمت پایین به بالا</a>
                                        <a class="dropdown-item" type="button" asp-page="/Shop" asp-route-productSort="4">قیمت پایین به پایین</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4">
                    @if (Model.Products != null)
                    {
                        foreach (var product in Model.Products.ReturnData)
                        {
                            <partial name="Components/_productCard" model="product" />
                        }
                    }

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            <partial name="_Pagination" model="@Model.Products.PaginationDetails" />
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        window.onload = function () {
            min_price = parseInt($("#min-price").val());
            var minPrice = min_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $("#min-price-txt").text(minPrice);

            max_price = parseInt($("#max-price").val());
            var maxPrice = max_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $("#max-price-txt").text(maxPrice);
        };

        $("#min-price").on("change mousemove", function () {
            min_price = parseInt($("#min-price").val());
            var minPrice = min_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $("#min-price-txt").text(minPrice);
        });

        $("#max-price").on("change mousemove", function () {
            max_price = parseInt($("#max-price").val());
            var maxPrice = max_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $("#max-price-txt").text(maxPrice);
        });
    </script>
}