@page
@model ECommerce.Front.BolouriGroup.Pages.UserProfileModel
@{
    ViewData["Title"] = "پروفایل من";
}

<section class="inner-section single-banner">
    <div class="container">
        <h2>مشخصات</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">مشخصات</li>
        </ol>
    </div>
</section>

<!-- Start page content -->
<div id="page-content" class="page-wrapper">
    @if (Model.Message != null)
    {
        switch (Model.Code)
        {
            case "Error":
                <div class="alert alert-danger"> @Model.Message </div>
                break;
            case "Warning":
                <div class="alert alert-warning"> @Model.Message </div>
                break;
            case "Info":
                <div class="alert alert-info"> @Model.Message </div>
                break;
            default:
                <div class="alert alert-success"> @Model.Message </div>
                break;
        }

        Model.Message = null;
        Model.Code = null;
    }
    <!-- LOGIN SECTION START -->
    <div class="login-section mb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="form-btn">
                                <a>اطلاعات شخصی من</a>
                            </h4>
                        </div>
                        <div class="panel-collapse " role="tabpanel">
                            <div class="panel-body">
                                <div class="contact-address box-shadow">
                                    <h6>@Model.UserInformation?.FirstName @Model.UserInformation?.LastName</h6>
                                    <h5>@Model.UserInformation?.Mobile</h5>
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading">
                            <h4 class="form-btn">
                                <input type="button" onclick="printDiv('My_order_info')" value="چاپ جزئیات فاکتور" />
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="my-account-content" id="accordion2">
                        <!-- My Order info -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="form-btn">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#My_order_info">تاریخچه سفارشات</a>
                                </h4>
                            </div>
                            <div id="My_order_info" class="panel-collapse" role="tabpanel">
                                <div class="panel-body" style="padding: 15px">
                                    <!-- our order -->
                                    @if (Model.PurchaseOrders != null)
                                    {
                                        @foreach (var purchaseOrder in Model.PurchaseOrders)
                                        {
                                            <div class="pro contact-address box-shadow" style="text-align: right">
                                                <a>
                                                    <h6 class="blog-section-title border-left mb-30">
                                                        جزییات فاکتور:

                                                    </h6>
                                                </a>
                                                <div class="view-list-group">
                                                    <label class="view-list-title">تاریخ:</label>
                                                    <div>    @purchaseOrder.CreationDate.ToFa()</div>
                                                </div>
                                                <div class="view-list-group">
                                                    <label class="view-list-title">کدسفارش:</label>
                                                    <div>    @purchaseOrder.Id</div>
                                                </div>

                                                @if (purchaseOrder.IsPaied)
                                                {
                                                    <div class="view-list-group">
                                                        <label class="view-list-title">وضعیت پرداخت:</label>
                                                        <div>  پرداخت شده</div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="view-list-group">
                                                        <label class="view-list-title">وضعیت پرداخت:</label>
                                                        <div>  پرداخت نشده</div>
                                                    </div>
                                                }
                                                <div class="view-list-group">
                                                    <label class="view-list-title">مبلغ:</label>
                                                    <div>@purchaseOrder.Amount.ToString("###,###,###,###") تومان</div>
                                                </div>
                                                <div class="view-list-group">
                                                    <label class="view-list-title">تخفیف:</label>
                                                    <div>@purchaseOrder.Discount.ToString("###,###,###,###") تومان</div>
                                                </div>
                                                <hr>
                                                <div style="text-align: left;">
                                                    <a href="#detailfactor-@purchaseOrder.Id" data-toggle="tab" style="color: black">
                                                        مشاهده جزییات فاکتور
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="tab-content" style="margin-top: 10px">
                                                <div role="tabpanel" class="tab-pane" id="detailfactor-@purchaseOrder.Id">
                                                    <div class="contact-address box-shadow" style="text-align: right">
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label class="view-list-title"> نام تحویل گیرنده:</label>
                                                                <div> @purchaseOrder.SendInformation?.RecipientName</div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label class="view-list-title"> شماره موبایل:</label>
                                                                <div>@purchaseOrder.SendInformation?.Mobile</div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="view-list-group">
                                                            <label class="view-list-title">  آدرس:</label>
                                                            <div>  @purchaseOrder.SendInformation?.Address</div>
                                                        </div>

                                                        <hr>
                                                        @if (purchaseOrder.PurchaseOrderDetails != null)
                                                        {
                                                            @foreach (var purchaseOrderDetail in purchaseOrder.PurchaseOrderDetails)
                                                            {

                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <img style="width: 80px" src="@purchaseOrderDetail.Product.Images!.First().Path/@purchaseOrderDetail.Product.Images!.First().Name" alt="@purchaseOrderDetail.Product.Images!.First().Alt" loding="lazy">
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <a asp-page="Product" asp-route-productUrl="@purchaseOrderDetail.Product.Url" style="color: black">@purchaseOrderDetail.Product.Name</a>
                                                                        <br />
                                                                    </div>

                                                                </div>
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- My password -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="form-btn">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#my_shipping">تغییر پسورد من</a>
                                </h4>
                            </div>
                            <div id="my_shipping" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <div class="new-customers p-30">
                                        <div class="form-group">
                                            <label class="form-label">رمز عبور قدیمی</label>
                                            <input class="form-control" type="password" id="OldPass" placeholder="رمز عبور قدیمی ..." dir="ltr">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">رمز عبور جدید</label>
                                            <input class="form-control" type="password" id="NewPass" placeholder="رمز عبور جدید ..." dir="ltr">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">تکرار رمز عبور جدید</label>
                                            <input class="form-control" type="password" id="NewConPass" placeholder="تکرار رمز عبور جدید ..." dir="ltr">
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <button class="form-btn" onclick="ChangePassword()"><i class="fal fa-edit"></i>&nbsp;&nbsp;تغییر پسورد</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- My user details -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="form-btn">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#billing_address">اطلاعات شخصی من</a>
                                </h4>
                            </div>
                            <div id="billing_address" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <form method="post" asp-page-handler="Edit">
                                        <div class="billing-details p-30">
                                            <input asp-for="@Model.UserInformation" hidden="hidden" />
                                            <div class="form-group">
                                                <label class="form-label">نام:</label>
                                                <input class="form-control" type="text" placeholder="نام شما ..." asp-for="@Model.UserInformation.FirstName">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">نام خانوادگی:</label>
                                                <input class="form-control" type="text" placeholder="نام خانوادگی شما ..." asp-for="@Model.UserInformation.LastName">
                                            </div>
                                            <input hidden="hidden" class="form-control" type="text" asp-for="@Model.UserInformation.Email" dir="ltr">
                                            <div class="form-group">
                                                <label class="form-label">نام شرکت:</label>
                                                <input class="form-control" type="text" placeholder="نام شرکت ..." asp-for="@Model.UserInformation.CompanyName">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">شماره موبایل:</label>
                                                <input readonly="readonly" class="form-control" type="text" placeholder="شماره موبایل ..." asp-for="@Model.UserInformation.Mobile" dir="ltr">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">کد ملی:</label>
                                                <input class="form-control" type="text" placeholder="کد ملی ..." asp-for="@Model.UserInformation.NationalCode" dir="ltr">
                                            </div>

                                            <select readonly="readonly" asp-for="@Model.UserInformation.StateId" class="form-select" id="state" onchange="setCities();">
                                                @if (Model.StateList != null)
                                                {
                                                    @foreach (var state in Model.StateList?.ReturnData)
                                                    {
                                                        <option value="@state.Id">@state.Name</option>
                                                    }

                                                }
                                            </select>

                                            <select readonly="readonly" asp-for="@Model.UserInformation.CityId" class="form-select mt-2" id="city">
                                                @if (Model.CityList != null)
                                                {
                                                    @foreach (var city in Model.CityList?.ReturnData)
                                                    {
                                                        <option value="@city.Id">@city.Name</option>
                                                    }
                                                }
                                            </select>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button class="form-btn" type="submit"><i class="fal fa-edit"></i>&nbsp;&nbsp;ویرایش</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGIN SECTION END -->
</div>

@section Scripts
    {
<script>
    function ChangePassword() {
        var oldPass = $("#OldPass").val();
        var newPass = $("#NewPass").val();
        var newConPass = $("#NewConPass").val();
        $.ajax({
            type: "Get",
            url: "/userProfile?handler=ChangePassword&newPass=" + encodeURIComponent(newPass) + "&newConPass=" + encodeURIComponent(newConPass) + "&oldPass=" + encodeURIComponent(oldPass),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                swal(result.message);
            },
            failure: function (response) {
                alert(response);
            }
        });
    }
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
    }
