@page
@model ECommerce.Front.BolouriGroup.Pages.WishlistModel
@{
    ViewData["Title"] = "لیست علاقه مندیها";
}


<section class="inner-section single-banner">
    <div class="container">
        <h2>لیست علاقه مندیها</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">لیست علاقه مندیها</li>
        </ol>
    </div>
</section>


<section class="inner-section wishlist-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-scroll">
                    <table class="table-list">
                        <thead>
                        <tr>
                            <th scope="col">تصویر محصول</th>
                            <th scope="col">نام</th>
                            <th scope="col">قیمت</th>
                            <th scope="col">نام تجاری</th>
                            <th scope="col">عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var wish in Model.WishList.ReturnData)
                        {
                            <tr>
                                <td class="table-image">
                                    <img src="~/@wish.ImagePath" alt="@wish.Alt"loding="lazy">
                                </td>
                                <td class="table-name">
                                    <h6>
                                        <a asp-area="" asp-page="Product" asp-route-productUrl="@wish.Url.Trim()" style="color: black">@wish.Name</a>
                                    </h6>
                                </td>
                                <td class="table-price">
                                    <h6>
                                            @wish.Price.ToString("N0") تومان
                                    </h6>
                                </td>
                                <td class="table-vendor">
                                        <h6>@wish.Brand</h6>
                                </td>
                                <td class="table-action">
                                    <a href="javascript:void(0)" onclick="AddCart(@wish.ProductId,@wish.PriceId,1,true)" style="color: black" title="اضافه کردن به سبد خرید">
                                            <i class="far fa-shopping-cart"></i>
                                    </a>
                                        <a href="javascript:void(0)" onclick="RemoveWish(@wish.Id,1)" style="color: black" title="حذف">
                                            <i class="far fa-window-close"></i>
                                    </a>
                                </td>
                            </tr>
                        }  </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
