@page "/Admin/CreateBrand"
@model ECommerce.Front.BolouriGroup.Areas.Admin.Pages.Brands.CreateModel
@{
    ViewData["Title"] = "اضافه کردن برند";
}
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2 ">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        ایجاد برند جدید
                    </h3>
                </div>
                <!--begin::Form-->
                <form class="form" method="post" asp-page-handler="OnPost" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label>نام</label>
                            <input asp-for="@Model.Brand.Name" class="form-control form-control-solid"/>
                            <span asp-validation-for="@Model.Brand.Name" class="mt-5" style="color: red; margin-top: 10px"></span>
                        </div>
                        <div class="form-group">
                            <label>آدرس اینترنتی</label>
                            <input asp-for="@Model.Brand.Url" class="form-control form-control-solid"/>
                            <span asp-validation-for="@Model.Brand.Url" class="mt-5" style="color: red; margin-top: 10px"></span>
                        </div>
                        <div class="form-group">
                            <label>توضیحات</label>
                            <textarea asp-for="@Model.Brand.Description" id="Description_Add" class="form-control form-control-solid" rows="6"></textarea>

                        </div>
                        <div class="form-group">
                            <label>تصویر برند</label>
                            <div class="custom-file">
                                <input asp-for="@Model.Upload" type="file" class="custom-file-input" id="selectFile" accept=".webp"/>
                                <label class="custom-file-label" for="selectFile">انتخاب فایل</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary mr-2">ثبت</button>
                        <a class="btn btn-secondary" asp-Page="/brands/index" asp-area="Admin">لغو</a>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script src="~/Admin/js/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
        window.onload = function() {
            CKEDITOR.replace('Description_Add');
        };
    </script>
}