@model List<Entities.ViewModel.CategoryParentViewModel>

@foreach (var category in Model)
{
    var spcae = "";
    for (var i = 0; i < category.Depth; i++)
    {
        spcae += "---";
    }

    if (!category.Children.Any())
    {
        <br>
        @spcae
        <input type="radio" id="@category.Id" name="Category.ParentId" checked="@category.Checked" value="@category.Id">
        <label for="@category.Id">@category.Name</label>
        <input hidden="hidden" id="path_@category.Id" value="@category.Path"/>
        <input hidden="hidden" id="depth_@category.Id" value="@category.Depth"/>
    }
    else
    {
        <br>
        @spcae
        <input type="radio" id="@category.Id" name="Category.ParentId" checked="@category.Checked" value="@category.Id">
        <label for="@category.Id">@category.Name</label>
        <input hidden="hidden" id="path_@category.Id" value="@category.Path"/>
        <input hidden="hidden" id="depth_@category.Id" value="@category.Depth"/>
        <partial name="_ParentCategory" model="@category.Children"/>
    }
}