@using ECommerce.Services.IServices
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject ICartService CartService
@inject ICompareService CompareService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Website for selling kitchen appliances and equipment">
    <title>@ViewData["Title"] - Boloori</title>
    @await RenderSectionAsync("Head", false)
    <link rel="icon" href="~/img/favicon.png" />

    <link rel="stylesheet" href="~/css/flaticon.css" edia="print" onload="this.media='all'" />

    <link rel="stylesheet" href="~/css/fontawesome.min.css" edia="print" onload="this.media='all'" />

    <link rel="stylesheet" href="~/css/bootstrap.min.css" edia="print" onload="this.media='all'" />
    <link rel="stylesheet" href="~/css/nice-select.min.css" edia="print" onload="this.media='all'" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" edia="print" onload="this.media='all'" />
    <link rel="stylesheet" href="~/css/venobox.min.css" edia="print" onload="this.media='all'" />


    <link rel="stylesheet" href="~/css/MegaMenu.css" edia="print" onload="this.media='all'" />
    <link rel="stylesheet" href="~/css/bootstrap-3.min.css" edia="print" onload="this.media='all'" />
    <link rel="stylesheet" href="~/lib/drift-zoom/drift-basic.min.css" edia="print" onload="this.media='all'" />
    <link rel="stylesheet" href="~/css/slick.min.css" edia="print" onload="this.media='all'" />
    <link rel="stylesheet" href="~/css/style.css" edia="print" onload="this.media='all'" />
    <link rel="stylesheet" href="~/css/stars.css" edia="print" onload="this.media='all'" />
    <!-- CSS only -->

</head>

<body>

    @*    <div class="preloader" id="preloader">
    <div class="loader"></div>
    </div>*@

<div class="header-part">
    <div class="container">
        <div class="header-content-group">
            <div class="header-widget-group left">
                <button class="header-widget header-user" title="حساب من">
                    <img src="~/img/user.jpg" alt="کاربر" width="40" height="40">
                </button>
                <a class="header-logo" asp-area="" asp-page="/Index">
                    <img id="BlueLogoImage" style="display: none;" src="~/img/BlueLogo.png" width="107" height="50" alt="لوگو">
                    <img id="WhiteLogoImage" style="display: inline;" src="~/img/WhiteLogo.png" width="107" height="50" alt="لوگو">
                </a>
                <button class="header-widget header-src" title="نوار جستجو">
                    <i class="far fa-search"></i>
                </button>
                <button class="header-widget header-cate" title="لیست دسته بندی">
                    <i class="flaticon-menu-1"></i>
                </button>
            </div>
            <form method="Get" action="~/Shop/0" class="header-form">
                <input type="text" name="search" placeholder="مورد خود را در اینجا جستجو کنید ...">
                <button type="submit">
                    <i class="far fa-search"></i>
                </button>
            </form>
            @{
                var result = await CartService.Load(Context);
                var cartList = result.ReturnData;
                var resultCompare = CompareService.Load(Context);
                var compareList = resultCompare.ReturnData;
                decimal allPrice = 0;
            }
            <div class="header-widget-group right">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <div class="dropdown">
                            <a class="header-widget" asp-area="Admin" asp-page="/Index" title="حساب من">
                                <i class="fal fa-user"></i>
                            </a>
                            <div class="dropdown-content">
                                <a asp-area="" asp-page="/Profile">پروفایل من</a>
                                <a href="index?handler=Logout">خروج</a>
                                <a asp-area="Admin" asp-page="/Index">مدیریت</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <a class="header-widget" asp-area="" asp-page="/profile" title="حساب من">
                                <i class="fal fa-user"></i>
                            </a>
                            <div class="dropdown-content">
                                <a asp-area="" asp-page="/Profile">پروفایل من</a>
                                <a href="/index?handler=Logout">خروج</a>
                            </div>
                        </div>
                    }
                    <a class="header-widget" asp-area="" asp-page="/Wishlist" title="لیست علاقه مندیها">
                        <i class="far fa-heart"></i>
                    </a>


                }
                else
                {
                    <div class="dropdown">
                        <a class="header-widget dropbtn" asp-area="" asp-page="/Login" title="حساب من">
                            <i class="fal fa-user"></i>
                        </a>
                        <div class="dropdown-content">
                            <a asp-area="" asp-page="/Login">ورود</a>
                            <a asp-area="" asp-page="/Register">ثبت نام</a>

                        </div>
                    </div>
                }
                <a class="header-widget" asp-area="" asp-page="/Compare" title="لیست مقایسه ">
                    <i class="far fa-exchange"></i><sup id="Compare-Count">@compareList.Count</sup>
                    <input hidden="hidden" value="@compareList.Count" id="Compare-Count-Value" />
                </a>
                <button class="header-widget header-cart" title="سبد خرید">
                    <i class="far fa-shopping-cart"></i><sup id="Cart-Count">@cartList.Count</sup>
                    <input hidden="hidden" value="@cartList.Count" id="Cart-Count-Value-Icon" />
                </button>
            </div>
        </div>
    </div>
</div>

<nav class="navbar-part">
        <div class="container" style="background-color: white">
            <div class="row">
                <div class="col-lg-12">
                    <div class="navbar-content">
                        <ul class="navbar-list">
                            <li class="navbar-item dropdown">
                                <a class="navbar-link" asp-area="" asp-page="/Index">خانه</a>
                            </li>
                            <li class="navbar-item dropdown">
                                <a class="navbar-link dropdown-arrow" href="#">دسته بندی</a>
                                <div class="dropdown-position-list">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @await Component.InvokeAsync("CategoriesMenu")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="navbar-item dropdown">
                                <a class="navbar-link dropdown-arrow" href="#">با بلوری</a>
                                <ul class="dropdown-position-list">
                                    <li>
                                        <a asp-area="" asp-page="/AboutUs">درباره ما</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-page="/Contact">با ما تماس بگیرید</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-page="/Faq">سوالات متداول</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-page="/Privacy">حریم خصوصی</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar-item dropdown">
                                <a class="navbar-link dropdown-arrow" href="#">وبلاگ</a>
                                <ul class="dropdown-position-list">
                                    @await Component.InvokeAsync("BlogCategoriesMenu")
                                </ul>
                            </li>
                        </ul>
                        <div class="navbar-info-group">
                            <div class="navbar-info">
                                <i class="fal fa-phone"></i>
                                <p>
                                    <small>شماره تماس</small><span>۰۱۳-۳۳۹۵</span>
                                </p>
                            </div>
                            <div class="navbar-info">
                                <i class="fal fa-envelope-open-text"></i>
                                <p>
                                    <small>برای ما ایمیل بزنید </small>
                                    <span>
                                        <a style="color: #555555" class="__cf_email__" data-cfemail="9cf5f2faf3dcf9e4fdf1ecf0f9b2fff3f1">boloorico@gmail.com</a>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

<aside class="category-part">
        <div class="category-container">
            <div class="category-header">
                <a href="#">
                    <img src="~/img/logo.png" alt="لوگو" width="86" height="40">
                </a>
                <button class="category-close" role="button">
                    <i class="far fa-times"></i>
                </button>
            </div>
            <ul class="category-list">
                @await Component.InvokeAsync("CategoriesList")
            </ul>
            <div class="category-footer">
                <p> &copy; 2021 - Boloori - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
            </div>
        </div>
    </aside>

<aside class="cart-part">
        <div class="cart-container">
            <div class="cart-header">
                <div class="cart-total">
                    <i class="far fa-shopping-cart"></i><span id="Cart-Count2">کل مورد (0)</span>
                    <input hidden="hidden" value="0" id="Cart-Count-Value" />
                </div>
                <button class="cart-close">
                    <i class="far fa-times"></i>
                </button>
            </div>
            <ul id="Cart-List" class="cart-list">
            </ul>
            <div class="cart-footer">
                <a class="cart-checkout-btn" asp-area="" asp-page="/Checkout"><span class="checkout-label">ادامه پرداخت </span><span id="All-Price" class="checkout-price"></span>تومان</a>
                <input hidden="hidden" id="AllPrice-Value" value="0" />
            </div>
        </div>
    </aside>

<aside class="mobile-nav">
        <div class="nav-container">
            <div class="nav-header">
                <a asp-area="" asp-page="/Index">
                    <img src="~/img/logo.png" alt="لوگو" width="86" height="40">
                </a>
                <button class="nav-close">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="nav-content">
                <div class="nav-profile">
                    <a class="nav-user" asp-area="" asp-page="/Index">
                        <img src="~/img/user.jpg" height="85" width="85" alt="کاربر">
                    </a>
                 @*   <h4 class="nav-name">
                        <a asp-area="" asp-page="/Login">@Model.UserInformation?.FirstName @Model.UserInformation?.LastName</a>
                    </h4>*@
                </div>
                <ul class="nav-list">
                    <li>
                        <a class="nav-link" asp-area="" asp-page="/Index">خانه</a>
                    </li>
                    <li>
                        <h3>دسته بندی</h3>
                        <ul>
                            @await Component.InvokeAsync("CategoriesMobile")
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link dropdown-link" href="#"><h3>با بلوری</h3></a>
                        <ul class="dropdown-list">
                            <li>
                                <a asp-area="" asp-page="/AboutUs">درباره ما</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/Contact">با ما تماس بگیرید</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/Faq">سوالات متداول</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/Privacy">حریم خصوصی</a>
                            </li>
                        </ul>
                    </li>
                  
                    <li>
                        <a class="nav-link dropdown-link" href="#"><h3>حساب</h3></a>
                        <ul class="dropdown-list">
                            <li>
                                <a asp-area="" asp-page="/Profile">پروفایل من</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/Login">ورود</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/Register">ثبت نام</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link dropdown-link" href="#"><h3>وبلاگ ها</h3></a>
                        <ul class="dropdown-list">
                            <li>
                                @await Component.InvokeAsync("BlogCategoriesMenu")
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="nav-info-group">
                    <div class="nav-info">
                        <i class="icofont-ui-touch-phone"></i>
                        <p>
                            <small>شماره تماس</small><span>0133395</span>
                        </p>
                    </div>
                    <div class="nav-info">
                        <i class="icofont-ui-email"></i>
                        <p>
                            <small>برای ما ایمیل بزنید </small>
                            <a>
                                <span class="__cf_email__" data-cfemail="aedddbdedec1dcdaeecbd6cfc3dec2cb80cdc1c3">boloorico@gmail.com</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="nav-footer">
                    <p> &copy; 2021 - Boloori - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
                </div>
            </div>
        </div>
    </aside>


    <div class="mobile-menu">
        <a asp-area="" asp-page="/Index" title="صفحه نخست">
            <i class="far fa-home"></i><span>خانه</span>
        </a>
        <button class="cate-btn" title="لیست دسته بندی">
            <i class="far fa-th-large"></i><span>دسته بندی</span>
        </button>
        <button class="cart-btn" title="سبد خرید">
            <i class="far fa-shopping-cart"></i><span>سبد خرید </span><sup id="Cart-Count1">@cartList.Count</sup>
            <input hidden="hidden" value="@cartList.Count" id="Cart-Count-Value-Icon1" />
        </button>
        <a asp-area="" asp-page="/Wishlist" title="لیست علاقه مندیها">
            <i class="far fa-heart"></i><span>لیست آرزوها </span>
        </a>
        <a asp-area="" asp-page="/Compare" title="لیست مقایسه ">
            <i class="far fa-exchange"></i><span>مقایسه کنید </span><sup id="Compare-Count">@compareList.Count</sup>
            <input hidden="hidden" value="@compareList.Count" id="Compare-Count-Value" />
        </a>
    </div>
    
    @RenderBody()


    <footer class="footer-part">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="footer-widget">
                        <a class="footer-logo" href="#">
                            <img src="~/img/Logo.png" alt="لوگو" width="240" height="112">
                        </a>
                        <p class="footer-desc">
                            برای یک خرید خوب و مطمئن باید خوب ببینید، مقایسه کنید و اطلاعات کافی کسب کنید.
                            تجهیزات آشپزی و پذیرایی بلوری یک فروشگاه حرفه ای، قابل اعتماد و با سابقه درزمینه تجهیز و تامین کلیه لوازم مورد نیاز  فعالان حوزه خوراک، این امکان را فراهم نموده تا شما مشتری عزیز بتوانید به راحتی ضمن مقایسه و دریافت اطلاعات کافی با اطمینان خرید و از خدمات پس از فروش  نیز برخوردار شوید.
                        </p>
                        <ul class="footer-social">
                            <partial name="Components/_socialMedia" />
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="footer-widget">
                        <h3 class="footer-title">لینک های سریع</h3>
                        <div class="footer-links">
                            <ul>
                                <li>
                                    <a asp-area="" asp-page="/Profile">پروفایل من</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-page="/Orderlist">تاریخچه سفارش ها</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-page="/Register">ایجاد حساب</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-page="/Login">ورود به سیستم</a>
                                </li>
                                <li>
                                    <a referrerpolicy="origin" rel="noopener" target="_blank" href="https://trustseal.enamad.ir/?id=303389&amp;Code=4pI0nWt9IaoFM0izrXoa">
                                        <img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=303389&amp;Code=4pI0nWt9IaoFM0izrXoa" alt="" style="cursor: pointer" id="4pI0nWt9IaoFM0izrXoa" width="125" height="136">
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a asp-area="" asp-page="/AboutUs">درباره ما</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-page="/contact">با ما تماس بگیرید</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-page="/Privacy">حریم خصوصی</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-page="/faq">پرسش و پاسخ</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-page="/Rules">قوانین و مقررات</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="footer-widget contact">
                        <h3 class="footer-title">با ما تماس بگیرید</h3>
                        <ul class="footer-contact">
                            <li>
                                <i class="fal fa-envelope-open-text"></i>
                                <p>
                                    <span>
                                        <a style="color: #555555" class="__cf_email__" data-cfemail="3851565e57785d40595548545d165b5755">boloorico@gmail.com</a>
                                    </span>
                                </p>
                            </li>
                            <li>
                                <i class="fal fa-phone"></i>
                                <p>
                                    <span>۰۱۳-۳۳۹۵ خط ویژه</span><span>۰۱۳-۳۴۴۹۷۴۸۰</span><span>۰۱۳-۳۴۴۹۷۴۸1</span><span>۰۱۳-۳۴۴۹۷۴۸2</span>
                                </p>
                            </li>
                            <li>
                                <i class="fal fa-map-marker-alt"></i>
                                <p>
                                    ایران، گیلان، رشت، خمام، جاده چوکام، جنب سایپا پور رستگار، خیابان شریفی
                                    <br />
                                    کدپستی : ۴۳۴۵۱۴۱۴۴۱
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom">
                        <p class="footer-copytext"> &copy; 2021 - Boloori - <a asp-area="" asp-page="/Privacy">حریم خصوصی</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal" id="product-view">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="modal-close far fa-times" data-bs-dismiss="modal"></button>
                <div class="product-view" id="modal_body">
                </div>
            </div>
        </div>
    </div>


    <a href="#" class="back-to-top">
        <i class="far fa-long-arrow-up"></i>
    </a>

    @* <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>*@
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/venobox.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/finalcountdown.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/accordion.js"></script>
   @* <script src="~/js/venobox.js"></script>*@
    <script src="~/js/bootstrap.min.js"></script>
    @* <script src="~/js/jquery-1.12.0.min.js"></script>*@
    <script src="~/js/main.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/masonry/masonry.pkgd.min.js"></script>
    <script src="~/lib/drift-zoom/Drift.min.js"></script>
   @* <script src="~/js/nice-select.js"></script>*@
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/BolouriGroupJs.min.js"></script>
    @await RenderSectionAsync("Scripts", false)
<script>
        window.onload = LoadCard();
    </script>
<script>
        function LoadCard() {
            var count = 0;
            var allPrice = 0;
            $('#Cart-List').text('');
            $.get('/index?handler=LoadCart').done(function (products) {
                $.each(products.returnData,
                    function (i, product) {
                        var item =
                            '<li class="cart-item" id="CartDrop-' + product.id + '">' +
                            ' <div class="cart-media">' +
                            '<a asp-page="Product" asp-route-productUrl="' + product.url + '"><img src="/' + product.imagePath + '" alt="' + product.alt + '">' + '</a>' +
                            '<button class="cart-delete" onclick="DeleteCart(' + product.id + ',' + product.productId + ',' + product.priceId + ')"><i class="far fa-times"></i></button>' +
                            '</div>' +
                            '  <div class="cart-info-group">' +
                            '<div class="cart-info">' +
                            '  <h5><a asp-page="Product" asp-route-productUrl="' + product.url + '">' +
                            product.name +
                            '</a></h5>' +
                            '  <h6>برند' +
                            product.brand +
                            '</h6>' +
                            '<p>' +
                            product.priceAmount +
                            '</p>' +
                            '</div>' +
                            '<div class="cart-action-group">' +
                            '<div class="product-action">' +
                            '<button class="action-minus" onclick="DecreaseCart(' + product.id + ',' + product.productId + ',' + product.priceId + ')" title="مقدار منهای"><i class="far fa-minus"></i></button><input class="action-input" title="تعداد" type="text" name="quantity" value="' +
                            product.quantity +
                            '">' +
                            '<button class="action-plus" onclick="AddCart(' + product.productId + ',' + product.priceId + ')" title="مقدار به علاوه"><i class="far fa-plus"></i></button>' +
                            '</div>' +
                            '<h6>' +
                            product.sumPrice +
                            '</h6><h6>تومان</h6>' +
                            ' <input hidden="hidden" value="' + product.sumPrice + '" id="SumPrice-' + product.id + '"/>' +
                            '</div>' +
                            '</div>' +
                            '</li>';
                        $('#Cart-List').append(item);
                        count++;
                        allPrice = allPrice + product.sumPrice;
                    });
                $('#Cart-Count').text(count);
                $('#Cart-Count1').text(count);
                $('#Cart-Count-Value').val(count);
                $('#Cart-Count-Value-Icon').val(count);
                $('#Cart-Count-Value-Icon1').val(count);
                $('#Cart-Count2').text("کل مورد (" + count + ")");
                $('#All-Price').text(allPrice);
                $('#AllPrice-Value').val(allPrice);
            });
        }

        function DeleteCart(id, productId, priceId) {
            var elementId = "#CartDrop-" + id;
            var sumPriceId = "#SumPrice-" + id;
            var price = parseInt($(sumPriceId).val());

            var count = parseInt($("#Cart-Count-Value-Icon").val());
            var count = parseInt($("#Cart-Count-Value-Icon1").val());
            var allPrice = parseInt($("#AllPrice-Value").val());
            $.ajax({
                type: "Get",
                url: "/index?handler=DeleteCart&id=" + id + "&productId=" + productId + "&priceId=" + priceId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    swal(result.message);
                    if (result.code === 0) {
                        $(elementId).remove();
                        count--;
                        allPrice = allPrice - price;
                        $('#Cart-Count').text(count);
                        $('#Cart-Count1').text(count);
                        $('#Cart-Count2').text("کل مورد (" + count + ")");
                        $('#All-Price').text(allPrice + ' تومان');
                        $("#Cart-Count-Value").val(count);
                        $("#Cart-Count-Value-Icon").val(count);
                        $("#Cart-Count-Value-Icon1").val(count);
                        $("#AllPrice-Value").val(allPrice);
                    }
                },
                failure: function (response) {
                    swal(response);
                }
            });
        }
</script>
</body>

</html>
