@page
@model Bolouri.Areas.Admin.Pages.Products.IndexModel
@{
    var i = 1 + (Model.PaginationViewModel.Page - 1) * Model.PaginationViewModel.QuantityPerPage;
}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">لیست محصولات ها</h3>
        </div>
    </div>
    <div class="card-body">
        <!--begin::نمونه-->
        @if (Model.Message != null)
        {
            switch (Model.Code)
            {
                case "Error":
                    <div class="alert alert-danger"> @Model.Message </div>
                    break;
                case "Warning":
                    <div class="alert alert-warning"> @Model.Message </div>
                    break;
                case "Info":
                    <div class="alert alert-info"> @Model.Message </div>
                    break;
                default:
                    <div class="alert alert-success"> @Model.Message </div>
                    break;
            }

            Model.Message = null;
            Model.Code = null;
        }
        <div class="example mb-10">
            <p>
                <a asp-page="Create" class="label label-inline label-light-primary font-weight-bold">ایجاد محصولات جدید</a>
            </p>
            <form asp-page="/Products/Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        جستجو بر اساس نام:
                        <input type="text" name="search" value="@Model.PaginationViewModel.SearchText"/>
                        <input type="text" hidden="hidden" name="pageIndex" value="1"/>
                        <input type="submit" value="بجو" class="btn btn-primary"/> |
                        تعداد رکورد ها در صفحه :
                        <a asp-page="/Products/Index" asp-route-quantityPerPage="5">5</a> -
                        <a asp-page="/Products/Index" asp-route-quantityPerPage="10">10</a> -
                        <a asp-page="/Products/Index" asp-route-quantityPerPage="15">15</a>
                    </p>
                </div>
            </form>
            <div class="example-preview">
                @*<input type="text" id="searchId" name="search" placeholder="جستجو کالا . . ." title="نام مورد نظر را وارد کنید" class="form-control form-control-solid" onkeyup="filter()">*@
                <table id="productTableId" class="table table-bordered mb-6">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">نام کالا</th>
                        @*<th scope="col">موجودی</th>*@
                        <th scope="col">عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.PaginationViewModel.Products != null)
                    {
                        foreach (var product in Model.PaginationViewModel.Products)
                        {
                            <tr>
                                <th scope="row">@(i++)</th>
                                <td>@product.Name</td>
                                @* <td>@product.Exist</td>*@
                                <td>
                                    <a asp-page="Edit" asp-route-id="@product.Id" class="label label-inline label-light-success font-weight-bold">ویرایش</a>
                                    <a asp-page="Delete" asp-route-id="@product.Id" class="label label-inline label-light-danger font-weight-bold">حذف</a>
                                    <a asp-page="Detail" asp-route-id="@product.Id" class="label label-inline label-light-warning font-weight-bold">جزئیات</a>
                                    <a asp-page="Price" asp-route-id="@product.Id" class="label label-inline label-light-warning font-weight-bold">قیمت</a>
                                    <a asp-page="AttributeValue" asp-route-id="@product.Id" class="label label-inline label-light-warning font-weight-bold">مشخصات</a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>

                @{
                    var prevDisabled = Model.PaginationViewModel.Page == 1 ? "disabled" : "";
                    var nextDisabled = Model.PaginationViewModel.PagesQuantity == Model.PaginationViewModel.Page ? "disabled" : "";
                }

                <a asp-page="/Products/Index"
                   asp-route-pageIndex="@(Model.PaginationViewModel.Page - 1)"
                   asp-route-search="@(Model.PaginationViewModel.SearchText)"
                   asp-route-quantityPerPage="@Model.PaginationViewModel.QuantityPerPage"
                   class="btn btn-primary @prevDisabled">
                    قبلی
                </a>
                @for (var pageIndex = 1; pageIndex <= Model.PaginationViewModel.PagesQuantity; pageIndex++)
                {
                    var activePage = Model.PaginationViewModel.Page == pageIndex ? "btn-danger disabled" : "btn-primary ";
                    <a asp-page="/Products/Index"
                       asp-route-pageIndex="@pageIndex"
                       asp-route-search="@Model.PaginationViewModel.SearchText"
                       asp-route-quantityPerPage="@Model.PaginationViewModel.QuantityPerPage"
                       class="btn @activePage">
                        @pageIndex
                    </a>
                }
                <a asp-page="/Products/Index"
                   asp-route-pageIndex="@(Model.PaginationViewModel.Page + 1)"
                   asp-route-search="@(Model.PaginationViewModel.SearchText)"
                   asp-route-quantityPerPage="@Model.PaginationViewModel.QuantityPerPage"
                   class="btn btn-primary @nextDisabled">
                    بعدی
                </a>
            </div>

        </div>
        <!--end::نمونه-->
    </div>
</div>

@section Scripts
{

    <script>
        function filter() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchId");
            filter = input.value.toUpperCase();
            table = document.getElementById("productTableId");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

}