@page
@model ECommerce.Front.Admin.Pages.Products.AttributeValueModel
@{
    ViewData["Title"] = "اضافه کردن مشخصات";
}
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2 ">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        افزودن خصوصیات به کالا
                    </h3>
                </div>
                <!--begin::Form-->
                <form class="form" method="post" asp-page-handler="OnPost" enctype="multipart/form-data">
                    <div class="card-body">
                        <input id="ProductId" name="ProductId" value="@Model.ProductId" hidden="hidden"/>
                        @for (var g = 0; g < Model.AttributeGroups.Count; g++)
                        {
                            @Html.HiddenFor(model => Model.AttributeGroups[g].Name)
                            @Html.HiddenFor(model => Model.AttributeGroups[g].Id)
                            <h1>@Model.AttributeGroups[g].Name</h1>
                            @for (var i = 0; i < Model.AttributeGroups[g].Attribute.Count; i++)
                            {
                                <div class="form-group">
                                    @Html.HiddenFor(model => Model.AttributeGroups[g].Attribute[i].Id)
                                    @Html.HiddenFor(model => Model.AttributeGroups[g].Attribute[i].Title)
                                    <label for="@Model.AttributeGroups[g].Attribute[i].Title">@Model.AttributeGroups[g].Attribute[i].Title</label>

                                    @for (var j = 0; j < Model.AttributeGroups[g].Attribute[i].AttributeValue.Count; j++)
                                    {
                                        @Html.HiddenFor(model => Model.AttributeGroups[g].Attribute[i].AttributeValue[j].Id)
                                        @Html.TextBoxFor(model => Model.AttributeGroups[g].Attribute[i].AttributeValue[j].Value, new {@class = "form-control form-control-solid"})
                                    }
                                </div>
                            }
                        }

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary mr-2">ثبت</button>
                        <a class="btn btn-secondary" asp-Page="/Products/index">لغو</a>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    @*<script>
            $('#attributeGroupId').on("change",
                function () {
                    var attributeGroupId = $('#attributeGroupId').val();
                    var productId = $('#ProductId').val();
                    $("#attributeId").empty();
                    $.getJSON(`?handler=ReturnAttribute&attributeGroupId=${attributeGroupId}&productId=${productId}`,
                        (data) => {
                            $.each(data,
                                function (i, item) {
                                    console.log(item);
                                    $("#attributeId").append('<div class="form-group">');
                                    $("#attributeId").append(`<label for="at-${item.id}" >${item.title}</label>`);
                                    $("#attributeId").append(`<input name="ProductAttributeList[${item.id}].Id" value="${item.id}" hidden="hidden" class="form-control form-control-solid">`);
                                    $("#attributeId").append(`<input name="ProductAttributeList[${item.id}].Title" id="ProductAttributeList_${item.id}__Title" value="${item.title}" hidden="hidden" class="form-control form-control-solid">`);

                                    $("#attributeId").append(`<input name="ProductAttributeList[${item.id}].AttributeValue[0].Id" id="ProductAttributeList_${item.id}__AttributeValue_0__Id" value="${item.attributeValue[0].id}" hidden="hidden" class="form-control form-control-solid">`);
                                    $("#attributeId").append(`<input name="ProductAttributeList[${item.id}].AttributeValue[0].Value" value="${item.attributeValue[0].value}" id="ProductAttributeList_${item.id}__AttributeValue_0__Value" type ="${item.AttributeType}" class="form-control form-control-solid">`);
                                    $("#attributeId").append('</div>');
                                });
                        });
                });

        </script>*@
}