@page
@model ArshaHamrah.Areas.Admin.Pages.Keywords.IndexModel
@{
    var i = 1 + ((Model.Keywords.PaginationDetails.CurrentPage - 1) * Model.Keywords.PaginationDetails.PageSize);
}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">لیست کلمات کلیدی</h3>
        </div>
    </div>
    <div class="card-body">
        <!--begin::نمونه-->
        @if (Model.Message != null)
        {
            switch (Model.Code)
            {
                case "Error":
                    <div class="alert alert-danger"> @Model.Message </div>
                    break;
                case "Warning":
                    <div class="alert alert-warning"> @Model.Message </div>
                    break;
                case "Info":
                    <div class="alert alert-info"> @Model.Message </div>
                    break;
                default:
                    <div class="alert alert-success"> @Model.Message </div>
                    break;
            }

            Model.Message = null;
            Model.Code = null;
        }
        <div class="example mb-10">
            <p>
                <a asp-page="Create" class="label label-inline label-light-primary font-weight-bold">ایجاد کلمات کلیدی جدید</a>
            </p>
            <form asp-page="/Keywords/Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        جستجو بر اساس نام:
                        <input type="text" name="search" value="@Model.Keywords.PaginationDetails.Search" />
                        <input type="text" hidden="hidden" name="pageIndex" value="1" />
                        <input type="submit" value="بجو" class="btn btn-primary" /> |
                        تعداد رکورد ها در صفحه :
                        <a asp-page="/Keywords/Index" asp-route-pageSize=10>10</a> -
                        <a asp-page="/Keywords/Index" asp-route-pageSize=20>20</a> -
                        <a asp-page="/Keywords/Index" asp-route-pageSize=30>30</a> -
                        <a asp-page="/Keywords/Index" asp-route-pageSize=40>40</a> -
                        <a asp-page="/Keywords/Index" asp-route-pageSize=50>50</a>
                    </p>
                </div>
            </form>
            <div class="example-preview">
                <table class="table table-bordered mb-6">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام</th>
                            <th scope="col">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Keyword in Model.Keywords.ReturnData)
                        {
                            <tr>
                                <th scope="row">@(i++)</th>
                                <td>@Keyword.KeywordText</td>
                                <td>
                                    <a asp-page="Edit" asp-route-id="@Keyword.Id" class="label label-inline label-light-success font-weight-bold">ویرایش</a>
                                    <a asp-page="Delete" asp-route-id="@Keyword.Id" class="label label-inline label-light-danger font-weight-bold">حذف</a>
                                    <a asp-page="Detail" asp-route-id="@Keyword.Id" class="label label-inline label-light-warning font-weight-bold">جزئیات</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <partial name="_Pagination" model="@Model.Keywords.PaginationDetails" />

            </div>

        </div>
        <!--end::نمونه-->
    </div>
</div>