@model Entities.Helper.PaginationDetails 

@{
    var prevDisabled = Model.CurrentPage == 1 ? "disabled" : "";
    var nextDisabled = Model.TotalPages == Model.CurrentPage ? "disabled" : "";
}

<a asp-page=@Model.Address
   asp-route-pageNumber="@(Model.CurrentPage - 1)"
   asp-route-search="@(Model.Search)"
   asp-route-pageSize="@Model.PageSize"
   class="btn btn-primary @prevDisabled">
    قبلی
</a>
@if (Model.TotalPages <= 6)
{
    for (var pageIndex = 1; pageIndex <= Model.TotalPages; pageIndex++)
    {
        var activePage = Model.CurrentPage == pageIndex ? "btn-danger disabled" : "btn-primary ";
        <a asp-page=@Model.Address
           asp-route-pageNumber="@pageIndex"
           asp-route-search="@Model.Search"
           asp-route-pageSize="@Model.PageSize"
           class="btn @activePage">
            @pageIndex
        </a>
    }
}
else
{
    for (var pageIndex = 1; pageIndex <= 3; pageIndex++)
    {
        var activePage = Model.CurrentPage == pageIndex ? "btn-danger disabled" : "btn-primary ";
        <a asp-page=@Model.Address
           asp-route-pageNumber="@pageIndex"
           asp-route-search="@Model.Search"
           asp-route-pageSize="@Model.PageSize"
           class="btn @activePage">
            @pageIndex
        </a>
    }
    <label>...</label>
    for (var pageIndex = Model.TotalPages - 2; pageIndex <= Model.TotalPages; pageIndex++)
    {
        var activePage = Model.CurrentPage == pageIndex ? "btn-danger disabled" : "btn-primary ";
        <a asp-page=@Model.Address
           asp-route-pageNumber="@pageIndex"
           asp-route-search="@Model.Search"
           asp-route-pageSize="@Model.PageSize"
           class="btn @activePage">
            @pageIndex
        </a>
    }
}
<a asp-page=@Model.Address
   asp-route-pageNumber="@(Model.CurrentPage + 1)"
   asp-route-search="@(Model.Search)"
   asp-route-pageSize="@Model.PageSize"
   class="btn btn-primary @nextDisabled">
    بعدی
</a>
