@page
@model ECommerce.Front.BolouriGroup.Areas.Admin.Pages.BlogComments.AcceptModel
@{
}
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2 ">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        تایید کامنت
                    </h3>
                </div>
                <!--begin::Form-->
                <form class="form" method="post" asp-page-handler="OnPost">
                    <input hidden="hidden" asp-for="@Model.BlogComment.Id" />
                    <input hidden="hidden" asp-for="@Model.BlogComment.IsAnswered" />
                    <input hidden="hidden" asp-for="@Model.BlogComment.Email" />
                    <input hidden="hidden" asp-for="@Model.BlogComment.UserId" />
                    <input hidden="hidden" asp-for="@Model.BlogComment.AnswerId" />
                    <input hidden="hidden" asp-for="@Model.BlogComment.BlogId" />
                    <input hidden="hidden" asp-for="@Model.BlogComment.EmployeeId" />
                    <div class="card-body" disabled="disabled">
                        <div class="form-group">
                            <label>نام</label>
                            <input asp-for="@Model.BlogComment.Name" class="form-control form-control-solid" />
                            <span asp-validation-for="@Model.BlogComment.Name" class="mt-5" style="color: red; margin-top: 10px"></span>
                        </div>
                        <div class="form-group">
                            <label>نظر</label>
                            <input asp-for="@Model.BlogComment.Text" class="form-control form-control-solid" />
                            <span asp-validation-for="@Model.BlogComment.Text" class="mt-5" style="color: red; margin-top: 10px"></span>
                        </div>
                        <div class="form-group">
                            <label>کالا</label>
                            <input asp-for="@Model.Blog.Title?" disabled="disabled" class="form-control form-control-solid" />
                            <span asp-validation-for="@Model.Blog.Title?" class="mt-5" style="color: red; margin-top: 10px"></span>
                        </div>
                        <div class="form-group">
                            <label>تاریخ</label>
                            <input asp-for="@Model.BlogComment.DateTime" class="form-control form-control-solid" />
                            <span asp-validation-for="@Model.BlogComment.DateTime" class="mt-5" style="color: red; margin-top: 10px"></span>
                        </div>
                        <div class="form-group">
                            <label>تایید</label>
                            <input type="checkbox" asp-for="@Model.BlogComment.IsAccepted" />
                            <span asp-validation-for="@Model.BlogComment.IsAccepted" class="slider round" style="color: red; margin-top: 10px"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>تصویر کالا</label>
                        <ul class="details-preview">
                            <img style="width: 25%" src="~/@($"{Model.Blog.Image.Path}/{Model.Blog.Image.Name}")" alt="@Model.Blog.Image.Alt">
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary mr-2">تایید</button>
                        <a class="btn btn-secondary" asp-Page="/BlogComments/index" asp-area="Admin">لغو</a>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>
